a.accordion-toggle {

  &:hover {
    color: $BBDarkOrange;
  }

  &:focus {
    color: $BBDarkOrange;
  }

}

.__faq-accordion {
  margin-top: 40px;
  margin-bottom: 30px;
}

.panel-group .panel + .panel {
  margin-top: 10px;
}

.panel-title {
  padding-top: 6px;
  padding-bottom: 6px;
}

@media (max-width: 768px) {
  .panel-title {
    padding-left: 10px;
    padding-right: 10px;
  }
}
