<acme-navbar></acme-navbar>

<div ng-controller="FaqController as faqCtrl" class="__faq-accordion row">
  <uib-accordion close-others="true" class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

    <div uib-accordion-group is-open="isopen" class="panel-default __faq-accordion-item" ng-repeat="item in faqCtrl.faq">
      <div ng-repeat="x in item.content">
        <uib-accordion-heading ng-click="isopen=!isopen">
          {{x.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </uib-accordion-heading>
        {{x.answer}}
      </div>
    </div>

  </uib-accordion>
</div>

<acme-footer></acme-footer>
