.faq a {
  color: $BBBlue;
}

.faq a:hover {
  color: $BBDarkBlue;
}


a.accordion-toggle {
  & {
    color: $BBDarkGrey;
  }

  & .opened {
    color: $BBBlue;
  }
  
  &:hover {
    color: $BBBlue;
  }

  &:focus {
    color: $BBBlue;
  }
}

.panel-group .panel + .panel {
  margin-top: 10px;
}

.panel-title {
  padding-top: 6px;
  padding-bottom: 6px;
}

@media (max-width: 768px) {
  .panel-title {
    padding-left: 10px;
    padding-right: 10px;
  }
}
