<!-- Footer-->
<footer class="main-footer">
    <!-- Services block-->
    <div class="bg-gray-100 text-dark-700 py-6">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 service-column">
            <svg class="svg-icon service-icon">
              <use xlink:href="#delivery-time-1"> </use>
            </svg>
            <div class="service-text">
              <h6 class="text-uppercase">Free shipping &amp; return</h6>
              <p class="text-muted font-weight-light text-sm mb-0">Free Shipping over $300</p>
            </div>
          </div>
          <div class="col-lg-4 service-column">
            <svg class="svg-icon service-icon">
              <use xlink:href="#money-1"> </use>
            </svg>
            <div class="service-text">
              <h6 class="text-uppercase">Money back guarantee</h6>
              <p class="text-muted font-weight-light text-sm mb-0">30 Days Money Back Guarantee</p>
            </div>
          </div>
          <div class="col-lg-4 service-column">
            <svg class="svg-icon service-icon">
              <use xlink:href="#customer-support-1"> </use>
            </svg>
            <div class="service-text">
              <h6 class="text-uppercase">020-800-456-747</h6>
              <p class="text-muted font-weight-light text-sm mb-0">24/7 Available Support</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main block - menus, subscribe form-->
    <div class="py-6 bg-gray-300 text-muted"> 
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mb-5 mb-lg-0">
            <div class="font-weight-bold text-uppercase text-lg text-dark mb-3">Social<span class="text-primary">.</span></div>
            <p>Follow us on Social Media</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" target="_blank" title="facebook" class="text-muted text-hover-primary"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="instagram" class="text-muted text-hover-primary"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="pinterest" class="text-muted text-hover-primary"><i class="fa fa-pinterest"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank" title="youtube" class="text-muted text-hover-primary"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
            <h6 class="text-uppercase text-dark mb-3">Company</h6>
            <ul class="list-unstyled">
              <li> <a href="#" class="text-muted">Home</a></li>
              <li> <a href="#" class="text-muted">Bible Stories</a></li>
              <li> <a href="#" class="text-muted">FAQ</a></li>
              <li> <a href="#" class="text-muted">About</a></li>
              <li> <a href="#" class="text-muted">We Donate</a></li>
              <li> <a href="#" class="text-muted">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <h6 class="text-uppercase text-dark mb-3">Quicklinks &amp; Company</h6>
            <ul class="list-unstyled">
              <li> <a href="#" class="text-muted">Login</a></li>
              <li> <a href="#" class="text-muted">Shopping Cart</a></li>
              <li> <a href="#" class="text-muted">Privacy</a></li>
              <li> <a href="#" class="text-muted">Terms & Conditions</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h6 class="text-uppercase text-dark mb-3">Offers & Discounts</h6>
            <p class="mb-3">Join our VIP list for special discounts and exclusive news.</p>
            <form action="#" id="newsletter-form">
              <div class="input-group mb-3">
                <input type="email" placeholder="Your Email Address" aria-label="Your Email Address" class="form-control bg-transparent border-secondary border-right-0">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-secondary border-left-0"> <i class="fa fa-paper-plane text-lg text-dark"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright section of the footer-->
    <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-center text-md-left">
            <p class="mb-md-0">&copy; 2018 HelloBible, Inc.  All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /Footer end-->