<section class="position-relative dark-overlay py-3 py-lg-7"><img src="/assets/images/stories/noah-junior/top.jpg"
    alt="" class="bg-image">
  <div class="container overlay-content hero hero-page">
    
    <div class="hero-content pb-5 text-center text-white">
      <h1 class="hero-heading">Sample Box: Noah</h1>
      <h2 class="hero-heading">HelloBible Junior</h2>
      <p class="text-center">
        <a pageScroll routerLink="/home" href="#pricing" class="btn btn-primary">Join HelloBible Junior</a>
      </p>
    </div>
  </div>
</section>

<div class="container marketing">

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-8 mx-auto">
      <h3 class="featurette-heading text-center">Each Month, the Bible story is a surprise.</h3>
      <p class="lead text-center">In total, we have a curriculum of 12 stories for HelloBible Junior.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-8  order-md-2">
      <h3 class="featurette-heading">Welcome card from <span class="text-muted">Bella the Butterfly.</span></h3>
      <p class="lead">Each box comes with a post card from Bella and a story sticker to collect.</p>
    </div>
    <div class="col-md-4  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah-junior/verse.jpg"
        alt="Welcome Card">
    </div>

  </div>

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-8  order-md-2">
      <h3 class="featurette-heading">Read the <span class="text-muted">Story Book.</span></h3>
      <p class="lead">The fun begins with a faith-filled Bible Story.
        This box comes with the Biblestory book "Noah" from Little Bible Heroes.
        It also comes with the bonus story "Creation".
      </p>
    </div>
    <div class="col-md-4  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah-junior/book.jpg"
        alt="Photo of Noah Book">
    </div>

  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8 order-md-2">
      <h3 class="featurette-heading">Noah and the Animals. <span class="text-muted">Matching Game.</span></h3>
      <p class="lead">
        The box includes all materials to create and play a beautiful matching game.
      </p>
    </div>
    <div class="col-md-4 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah-junior/memory.jpg"
        alt="Photo of Matching Game">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8 order-md-2">
      <h3 class="featurette-heading">Make <span class="text-muted">a Pop-up Ark.</span>
      </h3>
      <p class="lead">
        Make a pop-up ark craft. Remember that God protected Noah and the animals during the great flood.
      </p>
    </div>
    <div class="col-md-4 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah-junior/activity.jpg"
        alt="Photo of Pop-up Ark">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8 order-md-2">
      <h3 class="featurette-heading">Complete the <span class="text-muted">Sticker Sheet.</span></h3>
      <p class="lead">
        Rejoice and remember that God keeps His promises. The box also includes two animal masks to act out the story of Noah.
      </p>
    </div>
    <div class="col-md-4 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah-junior/stickers.jpg"
        alt="Photo of Sticker Sheet">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8 order-md-2">
      <h3 class="featurette-heading">Easy-to-teach <span class="text-muted">Parent Guides.</span></h3>
      <p class="lead">
        Parent guides have discussion questions to help children understand the Bible story.
        They include prayer, fun facts, art projects, and additional ideas to help kids learn
        and engage with the lesson.
      </p>
    </div>
    <div class="col-md-4 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah-junior/guide.jpg"
        alt="Photo of Parent Guides">
    </div>
  </div>

  <hr class="featurette-divider">

</div><!-- /.container -->

<section class="position-relative dark-overlay py-3 py-lg-7"><img src="/assets/images/stories/noah-junior/box.jpg"
    alt="Photo of HelloBible Box" class="bg-image">
  <div class="container overlay-content hero hero-page">

    <div class="hero-content pb-5 text-center text-white">
      <h2>Secure the next HelloBible Junior box!</h2>
    </div>
    <p class="text-center">
      <a pageScroll routerLink="/home" href="#pricing" class="btn btn-primary">Order Now</a>
    </p>
  </div>
</section>