
#team {
	background: none repeat scroll 0 0 #f6f6f6;
	padding: 20px;
}

#team h1 {
  padding: 20px 20px 0 20px;
  position: relative;
  color: $BBDarkGrey;
}

#team h2,  #team h3, #team h4, #team p {
  color: $BBDarkGrey;
}

#team h1:after {
  content: "";
  display: block;
  height: 4px;
  width: 80px;
  background: $BBBlue;
  margin: 0 auto;
  margin-top: 10px;
}


#team .team-box {
	background: #fff;
	padding: 10px;
	position: relative;
	transition: all 0.7s;
 	transition-property: background;
	margin-bottom: 30px;
}

#team .team-box:hover {
	background-color: #00a8d6;
}

#team .team-box:hover h1, #team .team-box:hover h2, #team .team-box:hover h3, #team .team-box:hover h4, #team .team-box:hover h5, #team .team-box:hover p {
	color: #fff;
}

.team-box:hover .team-circle {
	border: 6px solid #fff;
}

#team .team-box:hover .fa {
	color: #fff;
}

#team .team-box h1, #team .team-box h2, #team .team-box h3, #team .team-box h4, #team .team-box h5	{
	color: #424242;
}

#team .team-box h5 {
	font-weight: 400;
	margin-bottom: 35px;
}

#team .team-box p {
	color: #424242;
	font-weight: 400;
	font-size: 12px;
}

#team .fa {
	font-size: 28px;
	color: #424242;
}

.team-circle {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	border: 6px solid #00a8d6;
	overflow: hidden;
	position: absolute;
	top: -50px;
	left: 50%;
	margin-left: -40px;
	z-index: 100;
}