<div id="team">
	<div class="container">
		<h1 class="text-uppercase text-center wow bounceInDown">Our Team</h1>

		<div class="row margin-t-120">
			<div class="col-md-3 col-md-offset-3 wow bounceInLeft">
				<div class="team-box text-center">
					<div class="team-circle">
						<img src="/assets/images/profile-connie.jpg" alt="Team">
					</div>

					<h3 class="margin-t-30">Connie</h3>
					<h5>SEO Master</h5>
					<p>Lorem ipsum dolor sit amet, consectetured adipiscing elit, sed do eiusmod tempor inci didunt ut labore et dolore magna.</p>
				</div>
			</div>

			<div class="col-md-3 wow bounceInLeft">
				<div class="team-box text-center">
					<div class="team-circle">
						<img src="/assets/images/profile-simone.jpg" alt="Team">
					</div>

					<h3 class="margin-t-30">Simone</h3>
					<h5>SEO Master</h5>
					<p>Lorem ipsum dolor sit amet, consectetured adipiscing elit, sed do eiusmod tempor inci didunt ut labore et dolore magna.</p/assets/>
				</div>
			</div>
		</div>
	</div>
</div>