    <nav id="footer" class="navbar">
        <div class="container text-center">
            <a href="mailto:info@biblebox4kids.com"><i class="social-icons-bottom fa fa-envelope-square fa-2x"></i></a>
            <a href="http://www.facebook.com/biblebox4kids/"><i class="social-icons-bottom fa fa-facebook-square fa-2x"></i></a>
            <a href="http://www.pinterest.com/biblebox4kids"><i
                class="social-icons-bottom fa fa-pinterest-square fa-2x"></i></a>
        </div>
    </nav>
