#footer {
  visibility: visible;
  padding-top: 30px;
  background-color: $BBDarkGrey;
  color: white;
}

#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer .subscribe-inputs {
  color:black;
}

#footer li {
  display: block;
  padding: 0;
}

.copyright {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .copyright {
    text-align: center;
  }

  #footer .links {
    text-align: center;
  }
}

#footer .links a:hover {
  color: $BBPink;
}

.social-icons-bottom {
  color: white;
  vertical-align: bottom;
  padding-bottom: 5px;
}

.social-icons-bottom:hover {
  color: $BBDarkPink;
}

#footer .link-active {
  color: $BBDarkPink;
	pointer-events: none;
  cursor: default;
}
