#footer {
  visibility: visible;
  padding-top: 50px;
  background-color: $BBDarkGrey;
}

#footer img {
  height: 31px;
  vertical-align: bottom;
  margin-bottom: 3px;
  margin-right: 1px;
}

.social-icons-bottom {
  color: white;
  vertical-align: bottom;
  padding-bottom: 5px;
}
