<nav id="footer" class="navbar">

  <!-- footer on large screens -->
  <div class="row visible-lg visible-md links">
    <div class="col-md-2 col-md-offset-2">
      <ul>
        <li><a ui-sref="home" ui-sref-active="link-active" du-smooth-scroll>Home</a></li>
        <li><a ui-sref="about" ui-sref-active="link-active" du-smooth-scroll>About Us</a></li>
        <li><a ui-sref="faq" ui-sref-active="link-active" du-smooth-scroll>FAQ</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul>
        <li><a target="_blank" href="https://hellobible.zendesk.com/hc/en-us/requests/new">Contact Us</a></li>
        <li><a ui-sref="privacy" ui-sref-active="link-active">Privacy</a></li>
        <li><a ui-sref="terms" ui-sref-active="link-active">Terms &amp; Conditions</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      Sign up to our newsletter.
      <acme-subscribe></acme-subscribe>
    </div>
  </div>
  <div class="row col-md-offset-2 copyright visible-md visible-lg">
    <a href="https://hellobible.zendesk.com/hc/en-us/requests/new"><i class="social-icons fa fa-envelope fa-2x"></i></a>
    <a href="http://www.facebook.com/hellobible.org/"><i class="social-icons fa fa-facebook fa-2x"></i></a>
    <a href="http://www.instagram.com/hellobiblebox/"><i class="social-icons fa fa-instagram fa-2x"></i></a>
    <a href="http://www.pinterest.com/hellobible"><i class="social-icons fa fa-pinterest fa-2x"></i></a><br/>    &copy; 2016 hellobible, LLC.
  </div>

  <!-- footer on small screens -->
  <div class="hidden-md hidden-lg">

    <div class="links">
      <a ui-sref="home" ui-sref-active="link-active" du-smooth-scroll>Home</a> &bull;
      <a ui-sref="about" ui-sref-active="link-active" du-smooth-scroll>About Us</a> &bull;
      <a ui-sref="faq" ui-sref-active="link-active" du-smooth-scroll>FAQ</a>
    </div>
    <div class="links">
      <a target="_blank" href="https://hellobible.zendesk.com/hc/en-us/requests/new">Contact Us</a> &bull;
      <a ui-sref="privacy" ui-sref-active="link-active">Privacy</a> &bull;
      <a ui-sref="terms" ui-sref-active="link-active">Terms &amp; Conditions</a>
    </div>

    <div class="copyright">
      <a href="https://hellobible.zendesk.com/hc/en-us/requests/new"><i class="social-icons fa fa-envelope fa-2x"></i></a>
      <a href="http://www.facebook.com/hellobible.org/"><i class="social-icons fa fa-facebook fa-2x"></i></a>
      <a href="http://www.instagram.com/hellobiblebox/"><i class="social-icons fa fa-instagram fa-2x"></i></a>
      <a href="http://www.pinterest.com/hellobible"><i class="social-icons fa fa-pinterest fa-2x"></i></a>
<br/>      &copy; 2016 hellobible, LLC.
    </div>
  </div>

</nav>
