<section class="position-relative py-6 topMargin mb-30px"><img src="/assets/images/homeschool/top.jpg" alt="Picture of Danny Sticker Chart"
    class="bg-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="bg-white p-5"><strong class="text-muted text-uppercase d-inline-block mb-2 text-sm">HelloBible for
            Homeschooling</strong>
          <h2 class="mb-3">6 Reasons Why HelloBible is Great for Homeschooling</h2>
          <a pageScroll routerLink="/home" href="#pricing" class="btn btn-primary">Order Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container marketing">

  <div class="row featurette">

    <div class="col-md-7  order-md-2">
      <h2 class="featurette-heading">Multi-disciplinary.</h2>
      <p class="lead">Combine Bible and Art. Both often fall short in a performance-oriented education.</p>
      <a pageScroll routerLink="/home" href="#pricing" class="btn btn-primary">Order Now</a>
    </div>
    <div class="col-md-5  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/homeschool/drawing-arch.jpg" alt="Photo of Girl Coloring Noah's Ark">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">Multi-sensory.</h2>
      <p class="lead">Read Bible Stories. Create hands-on crafts. Engage in fun activities.</p>
      <a routerLink="/stories" class="btn btn-primary">Peek Inside</a>
    </div>
    <div class="col-md-5 order-md-2">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/homeschool/playing-noah.jpg" alt="Photo of Kids with HelloBible Box and Crafts">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">All materials are included.</h2>
      <p class="lead">Soon the idea of a Bible subscription service for Christian families was born. God opened many
        doors to start HelloBible.</p>
      <p class="lead">For up to 4 children.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/about/storm.png" alt="Photo of Content of HelloBible Storm Box">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">Easy to teach.</h2>
      <p class="lead">Thoughtful lesson plans and child-friendly instructions are included.</p>
      <a pageScroll routerLink="/home" href="#pricing" class="btn btn-primary">Order Now</a>
    </div>
    <div class="col-md-5 order-md-2">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/homeschool/instructions-noah.jpg" alt="Photo of Teaching Guide">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Keepsake projects.</h2>
      <p class="lead">Always be reminded that you are a child of God.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/homeschool/eline-and-lion.jpg" alt="Photo of Content of HelloBible Daniel Box with Girl">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">Giving and compassion.</h2>
      <p class="lead">Support children in Kenya.</p>
      <a routerLink="/kilgoris" class="btn btn-primary">We Donate</a>
    </div>
    <div class="col-md-5 order-md-2">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/kilgoris/kilgoris3.jpg" alt="Photo of Children in Kilgoris eating">
    </div>
  </div>

  <hr class="featurette-divider">

</div>