<section class="position-relative py-6"><img src="/assets/images/homeschool/top.jpg"
    alt="Picture of Danny Sticker Chart" class="bg-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="bg-white p-5"><strong class="text-muted text-uppercase d-inline-block mb-2 text-sm">HelloBible
            Explorer for
            Homeschooling</strong>
          <h2 class="mb-3">6 Reasons Why HelloBible Explorer is Great for Homeschooling</h2>
          <a pageScroll routerLink="/home" href="#pricing" class="btn btn-primary">Order Now</a>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container marketing mb-3 py-5">
  <div class="row featurette">

    <div class="col-md-7  order-md-2">
      <h2 class="featurette-heading">Hello Parents, Families, and Educators!</h2>
      <p class="lead">My name is Connie and I’m a Christian, a mother of 3 lovely children, and a former educator with
        a specialization in Biblical studies. I also happen to be the Founder of HelloBible, which is why I’m glad
        you’re here!<p>

        <p class="lead">As a Christian parent myself, I know how important it is for your family to find Bible-based solutions to
        support the time and effort you put into educating your children while helping your children grow up loving
        Jesus and the Bible. And that’s exactly why I started HelloBible!</p>

        <p class="lead">HelloBible was born out of a desire to support Christian families by providing a monthly box subscription that
        is Bible-based, reinforces Christian principles, makes a tangible difference, and, of course, is fun for
        children!</p>

        <p class="lead">I believe HelloBible is a great resource for all homeschooling families, and here are six reasons why...</p>
    </div>
    <div class="col-md-5  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/about/connie.jpg" alt="Photo of Connie">
    </div>
  </div>
</div>

<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">Easy to teach.</h2>
      <p class="lead">Each HelloBible box features thoughtful lesson plans that include a book featuring a Bible story, memory verse cards to help children remember the lesson, and simple and clear child-friendly instructions. Plus, every HelloBible box includes a Parent Guide complete with discussion questions, prayer points, and fun facts to help guide you and your children in understanding the Bible story.
      </p>
      <a routerLink="/stories"  target="_blank" class="btn btn-primary mb-3">Sneak a Peak</a>
    </div>
    <div class="col-md-5 order-md-2">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/homeschool/instructions-noah.jpg"
        alt="Photo of Teaching Guide">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">All materials are included.</h2>
      <p class="lead">As soon as you open the box, the faith-building activities can begin! All supplies needed for the crafts and activities are already provided within the box and each box contains materials for up to 2 children. This makes HelloBible a great opportunity to invite a sibling, relative, or even a small homeschool co-op to join in the monthly lesson.
      </p>
      <a pageScroll routerLink="/home" href="#pricing" class="btn btn-primary mb-3">Get my Box</a>

    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/homeschool/box.jpg"
        alt="Photo of Content of HelloBible Box">
    </div>
  </div>



  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-7  order-md-1">
      <h2 class="featurette-heading">Multidisciplinary Approach.</h2>
      <p class="lead">HelloBible utilizes Bible history, storytelling, creative arts, and thoughtful discussion to ensure that each child’s mind, heart, and hands are fully-engaged! This approach allows for each box to feel unique and diverse every month.</p>
    </div>
    <div class="col-md-5  order-md-2">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/homeschool/drawing-arch.jpg"
        alt="Photo of Girl Coloring Noah's Ark">
    </div>
  </div>

  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Multisensory Activities.</h2>
      <p class="lead">Utilizing as many of the senses as possible is critical in education. By intentionally incorporating visual, auditory, tactile, and kinesthetic activities in every box, HelloBible does its best to help children retain and remember these valuable lessons beyond the month.</p>
      <a routerLink="/stories"  target="_blank" class="btn btn-primary mb-3">Peek Inside</a>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/homeschool/playing-noah.jpg"
        alt="Photo of Kids with HelloBible Box and Crafts">
    </div>
  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">Compassion and Giving.</h2>
      <p class="lead">Not only do children learn about Jesus and the Bible, but through HelloBible children get to experience the connection and impact their faith has around the world. Every HelloBible subscription provides financial support to children and teachers in Kenya as part of The Kilgoris Project, and throughout the year we provide updates and stories about how God is at work in Kenya.</p>
      <a routerLink="/kilgoris" target="_blank" class="btn btn-primary mb-3">Learn More</a>
    </div>
    <div class="col-md-5 order-md-2">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/kilgoris/kilgoris3.jpg"
        alt="Photo of Children in Kilgoris eating">
    </div>
  </div>

  <hr class="featurette-divider">


  <div class="row featurette mb-3">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Keepsake projects.</h2>
      <p class="lead">The goal of every craft and activity inside a HelloBible box is not simply to provide children with something to do, but rather they’re intended to provide children with tangible reminders that they are loved by God and how they can show love to others.</p>
      <a pageScroll routerLink="/home" href="#pricing" class="btn btn-primary mb-3">Join Now</a>

    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/homeschool/eline-and-lion.jpg"
        alt="Photo of Content of HelloBible Daniel Box with Girl">
    </div>
  </div>
</div>