#nav {
  background-color: $BBBlue;

}

#nav .brand  img {
  margin-top: 5px;
  width: 75px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.narrow {
  margin: 0px -10px 0px -10px;
}

.navbar .navbar-nav > li > a:hover {
  color: white;
  background-color: $BBDarkBlue;
}

// size of collasped menu icon
.fa-bars {
  color: white;
  font-size: 18px;
}

