<nav id="nav" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
        <i class="fa fa-bars"></i>
      </button>
      <a class="brand" ui-sref="home"><img src="/assets/images/logo.png"/></a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="faq" ui-sref-active="link-active" du-smooth-scroll>FAQ</a></li>
        <li><a ui-sref="about" ui-sref-active="link-active" du-smooth-scroll>Our Story</a></li>
        <li><a href="/blog/categories/past-boxes" ui-sref-active="link-active" du-smooth-scroll>Past Boxes</a></li>
        <li><a href="/blog/categories/kilgoris" ui-sref-active="link-active" du-smooth-scroll>We Donate</a></li>
        <li class="narrow"><a title="My Account" href="https://hellobible.cratejoy.com/customer/login"><span class="fa fa-user"></span></a></li>
        <li><a title="Shopping Cart" href="https://hellobible.cratejoy.com/checkout/"><span class="fa fa-shopping-cart"></span></a></li>
        <li><button type="button" class="btn btn-default navbar-btn btn-primary"><a ui-sref="home({'#' : 'pricing'})" >Try Now</a></button></li>
      </ul>
    </div>
  </div>
</nav>
