#nav {
  background-color: $BBBlue;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .navbar-nav > li > a:hover {
  color: white;
  background-color: $BBDarkBlue;
}

// size of collasped menu icon
.fa-bars {
  color: white;
  font-size: 18px;
}

.notificationBar {
  display: block;
  position: fixed;
  background: $BBDarkPink;
  width: 100%;
  opacity: 0.9;
  text-align: center;
  color: #ffffff;
  z-index: 100;
}

.notificationBar.ng-hide-add-active,
.notificationBar.ng-hide-remove-active {
  animation: 0.7s fadeOutUp;

}

#notificationBarClose {
  margin-top: 13px;
  margin-right: 15px;
  float: right;
  cursor: pointer;
  color: #ffffff;
}

.notificationBar .text {
  padding-top: 10px;
  padding-bottom: 10px;
}

.notificationBar .text > a {
   text-decoration: underline;
}