<nav id="nav" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
        <i class="fa fa-bars"></i>
      </button>
      <a class="brand" href="/"><img src="/assets/images/logo.png" width="55px"/></a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a ui-sref="home({ '#' : 'team'})" du-smooth-scroll>Team</a></li>
        <li><a ui-sref="home({ '#' : 'testimonials'})" du-smooth-scroll>Testimonials</a></li>-->
        <li><a href="https://hellobible.zendesk.com/hc/en-us/categories/203708008-FAQ">FAQ</a></li>
        <li><a ui-sref="home({ '#' : 'subscribeid'})" du-smooth-scroll>Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="notificationBar" ng-show="showNotificationBar" ng-animate=" 'animate' ">
  <a ng-click="showNotificationBar = false"><i class="close glyphicon glyphicon-remove"></i></a>
  <div class="text">
    <a ng-click="showNotificationBar = false" ui-sref="home({'#' : 'subscribeid'})" du-smooth-scroll>Sign up</a>, be the first to know once we launch and get 10% off your first box.
  </div>
</div>