#nav {
  background-color: $BBBlue;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .navbar-nav > li > a:hover {
  color: white;
  background-color: $BBDarkBlue;
}

// size of collasped menu icon
.fa-bars {
  color: white;
  font-size: 24px;
}
