/* #### Top Header Portrait or Big Devices #### */
.topheader {
  margin-top: 30px;
  background: url("/assets/images/headerbg-2560.jpg");
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topheader h1 {
  font-size: 28px;
  color: $BBBlue;
  text-align: left;
  text-transform: uppercase;
}

.topheader h2 {
  font-size: 22px;
  color: white;
  text-align: left;
}

.topheader h3 {
  font-size: 18px;
  color: white;
  text-align: left;
}

/* #### Top Header Small Devices #### */
.topheader-mobile {
  padding-top: 40px;
}

.topheader-mobile h1 {
  color: $BBBlue;
  text-align: center;
  text-transform: uppercase;
}

.topheader-mobile h2 {
  font-size: 14px;
  color: $BBDarkGrey;
  text-align: center;
}

.topheader-mobile h3 {
  font-size: 12px;
  color: $BBDarkGrey;
  text-align: center;
}

.subscribe-mobile {
  width: 80%;
  margin: auto;
}
