<div class="topheader hidden-xs">
  <div class="container">
    <div class="row margin-t-60">
      <div class="col-sm-6 col-sm-offset-6">
        <h1>A fun way for kids to explore the bible.</h1>
        <h2>Get 1 box each month including a great Bible story, creative craft projects and ideas to share & pray.</h2>
        <h3>Designed for children ages 5-8.</h3>
        <div class="row margin-t-60">
          <acme-subscribe></acme-subscribe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="topheader-mobile visible-xs-block visible-sm-block">
  <div class="container">
    <div class="row margin-t-40">
      <img src="/assets/images/headerbg-970.jpg"/>
    </div>
    <div class="row">
      <h1>A fun way for kids to explore the bible.</h1>
      <h2>Get 1 box each month including a great Bible story, creative craft projects and ideas to share & pray.</h2>
      <h3>Designed for children ages 5-8.</h3>
      <div class="row margin-t-30 subscribe-mobile">
        <acme-subscribe></acme-subscribe>
      </div>
    </div>
  </div>
</div>
