<div class="topheader hidden-xs">
  <div class="container">
    <div class="row margin-t-120">
      <div class="col-sm-6 col-sm-offset-6">
        <h1>A fun way for kids to explore the bible.</h1>
        <h2>Get 1 box each month including a great Bible story, creative craft projects and ideas to share & pray.</h2>
        <h3>Designed for children ages 5-8.</h3>
        <a ui-sref="home({ '#' : 'subscribeid'})" du-smooth-scroll><button type="button" class="btn btn-lg btn-primary" aria-haspopup="true" aria-expanded="false">Sign up</button></a>
        <a ui-sref="home({ '#' : 'information'})" du-smooth-scroll><button type="button" class="btn btn-lg btn-secondary" aria-haspopup="true" aria-expanded="false">What's Inside</button></a>
      </div>
    </div>
  </div>
</div>

<div class="topheader-mobile visible-xs-block">
  <div class="container">
    <div class="row margin-t-40">
      <img src="/assets/images/headerbg-970.jpg"/>
    </div>
    <div class="row">
      <h1>A fun way for kids to explore the bible.</h1>
      <h2>Get 1 box each month including a great Bible story, creative craft projects and ideas to share & pray.</h2>
      <h2>Designed for children ages 5-8.</h2>
      <div class="row margin-t-30 subscribe-mobile">
        <a ui-sref="home({ '#' : 'subscribeid'})" du-smooth-scroll><button type="button" class="btn btn-lg btn-primary" aria-haspopup="true" aria-expanded="false">Sign up</button></a>
        <a ui-sref="home({ '#' : 'information'})" du-smooth-scroll><button type="button" class="btn btn-lg btn-secondary" aria-haspopup="true" aria-expanded="false">What's Inside</button></a>
      </div>
    </div>
  </div>
</div>
