<app-nav></app-nav>

<section class="position-relative py-6"><img src="/assets/images/about/top.jpg" alt="Header Photo with Connie and HelloBible Box"
    class="bg-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="bg-white p-5"><strong class="text-muted text-uppercase d-inline-block mb-2 text-sm">About Us</strong>
          <h2 class="mb-3">The Story Behind HelloBible</h2>
          <p class="text-muted">HelloBible creates monthly experiences for Christian families to grow in faith and
            thrive in relationship with Jesus.</p>
          <blockquote class="blockquote">
            <p>"Let your roots grow down into Him, and let your lives be built on Him. Then your faith will grow strong
              in
              the truth you were taught, and you will overflow with thankfulness."</p>
            <footer><cite title="Source Title">Colossians 2:7</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-7  order-md-2">
      <h2 class="featurette-heading">Founder. <span class="text-muted">Connie.</span></h2>
      <p class="lead">I am a Christian mom of three and a teacher with specialization in Biblical studies. Faith is an important part of my life. I am involved
        in a church community and lead a Bible study for moms. As my children grew older, I longed to nurture their faith and give them
        a solid spiritual foundation.</p>
    </div>
    <div class="col-md-5  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/about/connie.jpg" alt="Photo of Connie">
    </div>

  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">My struggle. <span class="text-muted">How can I help my children to grow in faith?</span></h2>
      <p class="lead">I found myself searching for ways to express faith more vibrantly in our home.
        But I struggled in the midst of our busy family life.
        It took effort to plan creative and engaging activities and it was challenging to find time to buy all the supplies.
        When discussing this with my friends, I realized that I was not alone in this struggle.
        Many of us long to help our children grow in faith and thrive in relationship with Jesus.</p>
    </div>
    <div class="col-md-5 order-md-2">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/about/playing.jpg" alt="Photo of Kids with HelloBible Box and Crafts">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Solution. <span class="text-muted">HelloBible.</span></h2>
      <p class="lead">The idea of a monthly subscription service for families was born  out of a desire to help Christian families. God opened many
        doors to start HelloBible.</p>
      <p class="lead">HelloBible provides your family with materials to help you teach, learn, and grow in faith. Each
        month, HelloBible focuses on a specific Bible story. Each box contains a storybook, parent guides, and
        interactive craft projects to explore the Bible with your children at home.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/about/box.jpg" alt="Photo of Content of HelloBible Storm Box">
    </div>
  </div>

  <!-- /END THE FEATURETTES -->

  <hr class="featurette-divider">

  <h4 class="mb-4 text-uppercase">Contact us</h4>
  <p class="lead mb-5">If you have additional questions, please don't hesitate to <a target='_blank' href='https://hellobible2.zendesk.com/hc/en-us/requests/new'>contact us</a>.</p>

</div><!-- /.container -->