#about-founders h1:after {
	content: "";
	display: block;
	height: 4px;
	width: 80px;
	background: $BBBlue;
	margin: 0 auto;
	margin-top: 20px;
  margin-bottom: 30px;
}

#about-founders p {
	color: $BBDarkGrey;
  line-height: 0.9;
  text-align: center;
}

#about-founders h3 {
  margin-top: 18pt;
	line-height: 0.9;
  text-align: center;
}
