#about-timeline {
	padding: 20px 20px 0 20px;
	position: relative;
}

#about-founders h1 {
  	color: $BBDarkGrey;
}

#about-founders h1:after {
	content: "";
	display: block;
	height: 4px;
	width: 80px;
	background: $BBBlue;
	margin: 0 auto;
	margin-top: 20px;
  margin-bottom: 30px;
}

#about-founders h2 {
	color: $BBDarkGrey;
  line-height: 0.6;
  text-align: center;
  margin-bottom: -10px;
  margin-top: -3px;
}

#about-founders h3, #about-founders h4, #about-founders p {
	color: $BBDarkGrey;
  line-height: 0.9;
  text-align: center;
}

#about-founders h2 {
  font-size: 16pt;
}

#about-founders h3 {
  font-size: 10pt;
  margin-top: 18pt;
}

#about-founders h4 {
  font-size: 8pt;
  margin-bottom: -5px;

}

#about-timeline h1, #about-timeline h2, #about-timeline h3, #about-timeline h4, #about-timeline p {
	color: $BBDarkGrey;
}


#about-timeline:before {
	content: "";
	background: $BBLightGrey;
	width: 2px;
	height: 800px;
	display: block;
	position: absolute;
	top: 140px;
	left: 50%;
}

#about-timeline .fix-first {
  margin-left: -44px;
}

ul li .timeline-image {
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -30px;
	clear: both;
  font-size: 48pt;
  color: $BBBlue;
  width: 48pt;
}

#about-timeline ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#about-timeline ul li {
    position: relative;
    margin-bottom: 50px;
    min-height: 220px;
}

#about-timeline .timeline-left {
	float: left;
	width: 45%;
	text-align: right;
}

#about-timeline .timeline-right {
	float: right;
	width: 45%;
	text-align: left;
}

@media(max-width:768px) {
	#about-timeline:before {
	content: "";
	display: none;
}

#about-timeline .timeline-left {
	float: none;
	width: 100%;
	text-align: left;
	padding-left: 80px;
}

#about-timeline .timeline-right {
	float: none;
	width: 100%;
	text-align: left;
	padding-left: 80px;
}
	
#about-timeline ul li {
    position: relative;
    margin-bottom: 50px;
    min-height: 180px;
}

ul li .timeline-image {
	position: absolute;
	top: 40px;
	left: 10%;
	margin-left: -54px;
	clear: both;
}
}