/*********************************************************/
/* HEADER
/*********************************************************/

.winlandingpage {
  background: url("/assets/images/landingpage/header-win-l.jpg");
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.winlandingpage .well {
  filter: alpha(opacity=85);
  opacity: 0.75;
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  width: 100%;
  height: 100%;
}

.winlandingpage h1, .winlandingpage h2 {
  color: $BBDarkGrey;
  text-align: center;
  text-transform: none;
}

.winlandingpage h1 {
  font-size: 50pt;
}

.winlandingpage h2 {
  font-size: 24pt;
}

.winlandingpage button {
  color: $BBBlue;
}

.winlandingpage-mobile button {
  color: $BBBlue;
}


.winlandingpage-mobile h1 {
  font-size: 20pt;
  color: $BBBlue;
  text-align: center;
}

.winlandingpage-mobile h2 {
  color: $BBDarkGrey;
  text-align: center;
}
