#boxes {
    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .storyName {
        font-weight: bold;
        margin-top: 5px;
    }

    .cfa {
        text-align: center;
        display: block;
        margin: auto;
    }
}