<div class="social">
  <div class="container text-center">
    <img src="/assets/images/danny-box.svg"/>
    <a href="https://hellobible.zendesk.com/hc/en-us/requests/new"><i class="social-icons fa fa-envelope fa-2x"></i></a>
    <a href="http://www.facebook.com/hellobible.org/"><i class="social-icons fa fa-facebook fa-2x"></i></a>
    <a href="http://www.instagram.com/hellobiblebox/"><i class="social-icons fa fa-instagram fa-2x"></i></a>
    <a href="http://www.pinterest.com/hellobible"><i class="social-icons fa fa-pinterest fa-2x"></i></a>
    <a href="https://www.youtube.com/channel/UCPpWNYL1mOVQy9OYkb5z2YQ"><i class="social-icons fa fa-youtube  fa-2x"></i></a>
  </div>
</div>
