<app-nav></app-nav>

<section class="position-relative py-6 topMargin mb-30px"><img src="/assets/images/kilgoris/kilgoris1.jpg" alt="Photo of Children in Kilgoris at School"
    class="bg-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <div class="bg-white p-5"><strong class="text-muted text-uppercase d-inline-block mb-2 text-sm">We Donate</strong>
          <h2 class="mb-3">Together We Can Make an Impact</h2>
          <p class="text-muted">Each HelloBible box helps provide education for children in Kilgoris, Kenya. The
            Kilgoris Project operates schools, provides daily food and clean water. Many students are the first in
            their families to attend school.</p>
          <p class="text-muted">25 HelloBible boxes send two children to primary school for three month.</p>
          <a href="http://www.kilgoris.org/" target="_blank"><img width="200px" src="/assets/images/kilgoris/logo.png" alt="Kilgoris Logo"/></a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row mx-0">
  <div class="col-lg-4 mb-10px px-5px">
    <div class="card border-0 text-center text-white"><img src="/assets/images/kilgoris/kilgoris2.jpg" alt="Photo of Children in Kilgoris School during Recess"
        class="card-img">
      <div class="card-img-overlay d-flex align-items-center">
        <div class="w-100">
          <h2 class="display-4 mb-4">Schools</h2>
          <span class="lead">25 HelloBible boxes send two children to primary school for three month.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-10px px-5px">
    <div class="card border-0 text-center text-white"><img src="/assets/images/kilgoris/kilgoris3.jpg" alt="Photo of Children in Kilgoris eating"
        class="card-img">
      <div class="card-img-overlay d-flex align-items-center">
        <div class="w-100">
          <h2 class="display-4 mb-4">Giving</h2>
          <span class="lead">Teach your child the importance of giving and make an impact.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-10px px-5px">
    <div class="card border-0 text-center text-white"><img src="/assets/images/kilgoris/kilgoris4.jpg" alt="Photo of Child in Kilgoris at School learning"
        class="card-img">
      <div class="card-img-overlay d-flex align-items-center">
        <div class="w-100">
          <h2 class="display-4 mb-4">Impact</h2>
          <span class="lead">100 HelloBible boxes pay a teacher’s salary for one month in Kilgoris.</span>
        </div>
      </div>
    </div>
  </div>
</div>