#kilgoris .logo {
  height: 100px;
  text-align: center;
}

#kilgoris a {
  color: $BBBlue;
}

#kilgoris a:hover {
  color: $BBDarkBlue;
}

#kilgoris h1:after {
	content: "";
	display: block;
	height: 4px;
	width: 80px;
	background: $BBBlue;
	margin: 0 auto;
	margin-top: 20px;
  margin-bottom: 30px;
}
