<section class="topMargin position-relative dark-overlay py-3 py-lg-7"><img src="/assets/images/stories/noah/top.jpg" alt=""
    class="bg-image">
  <div class="container overlay-content hero hero-page">
    <ul class="breadcrumb justify-content-center no-border mb-0">
      <li class="breadcrumb-item text-white active">Old Testament</li>
    </ul>
    <div class="hero-content pb-5 text-center text-white">
      <h1 class="hero-heading">The Noah Box</h1>
    </div>
  </div>
</section>

<div class="container marketing">

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-8  order-md-2">
      <h3 class="featurette-heading">Welcome card with <span class="text-muted">Monthly Bible Verse.</span></h3>
      <p class="lead">Each box comes with a memory verse card.
        It helps children keep God's Word in their heart.</p>
    </div>
    <div class="col-md-4  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah/verse.jpg" alt="Monthly Bible Memory Verse Card">
    </div>

  </div>

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-8  order-md-2">
      <h3 class="featurette-heading">Read the <span class="text-muted">Story Book.</span></h3>
      <p class="lead">The fun begins with a faith-filled Bible Story.
        The Noah Box comes with the book "A Man Named Noah" from Arch books.
        Read and enjoy the story as a family.
      </p>
    </div>
    <div class="col-md-4  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah/book.jpg" alt="Photo of Connie">
    </div>

  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8 order-md-2">
      <h3 class="featurette-heading">Child friendly <span class="text-muted">Instructions.</span></h3>
      <p class="lead">All crafts and activities come with clear and attractive directions for assembly.
        Older children can easily follow by themselves. Younger children can follow with very little assistance.
      </p>
    </div>
    <div class="col-md-4 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah/instructions.jpg" alt="Photo of Kids with HelloBible Box and Crafts">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8 order-md-2">
      <h3 class="featurette-heading">Build <span class="text-muted">Noah's Ark.</span></h3>
      <p class="lead">
        The box contains all materials to color and create an ark out of cardstock and a wooden base.
      </p>
    </div>
    <div class="col-md-4 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah/draw.jpg" alt="Photo of Kids with HelloBible Box and Crafts">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8 order-md-2">
      <h3 class="featurette-heading">Family Activity. <span class="text-muted">Noah Matching Game.</span></h3>
      <p class="lead">
        Noah needed two of every animal to fill his ark.
        The box contains wooden chips and animal stickers to create a fun matching game.
        Playing the game is a great family activity.
        Each time you find a matching pair, place them into the ark.
      </p>
    </div>
    <div class="col-md-4 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah/activity.jpg" alt="Photo of Content of HelloBible Storm Box">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8 order-md-2">
      <h3 class="featurette-heading">Make <span class="text-muted">Giant Rainbow Bubbles.</span></h3>
      <p class="lead">
        "I will put my rainbow in the clouds to be a sign of my promise to the earth." Genesis 9:13.
        Make giant rainbow bubbles to remember God's promise.
      </p>
    </div>
    <div class="col-md-4 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah/bubbles.jpg" alt="Photo of Kids with HelloBible Box and Crafts">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8 order-md-2">
      <h3 class="featurette-heading">Easy-to-teach <span class="text-muted">Parent Guides.</span></h3>
      <p class="lead">
        Parent guides have discussion questions to help children understand the Bible story.
        They include prayer, fun facts, art projects, and additional ideas to help kids learn
        and engage with the lesson.
      </p>
    </div>
    <div class="col-md-4 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/noah/lessons.jpg" alt="Photo of Kids with HelloBible Box and Crafts">
    </div>
  </div>

  <hr class="featurette-divider">

</div><!-- /.container -->

<section class="position-relative dark-overlay py-3 py-lg-7"><img src="/assets/images/stories/noah/box.jpg" alt=""
    class="bg-image">
  <div class="container overlay-content hero hero-page">

    <div class="hero-content pb-5 text-center text-white">
      <h2>Secure the next HelloBible box!</h2>
    </div>
    <p class="text-center">
      <a pageScroll routerLink="home" href="#pricing" class="btn btn-primary">Order Now</a>
    </p>
  </div>
</section>