<acme-navbar></acme-navbar>

<script type="text/ng-template" id="signupModal.html">
	<div class="modal-header">
		<button type="button" class="close" ng-click="vm.cancel()">&times;</button>
		<img src="/assets/images/ogp.png" />
	</div>
	<div class="modal-body" id="modal-body">
		<h1>Sign up to our newsletter.</h1>
		<p>You will get exlusive <b>offers</b> and <b>updates</b> on HelloBible.</p>
		<acme-subscribe></acme-subscribe>
	</div>
</script>

<div class="notificationBar" ng-show="showNotificationBar" ng-controller="MainController as mainCtrl">
	<a ng-click="showNotificationBar = false"><i class="close glyphicon glyphicon-remove"></i></a>
	<div class="text">
		<a ng-click="mainCtrl.signup('notificationBar')">Sign up</a> to our newsletter to get exclusive offers &amp; updates.
	</div>
</div>

<div class="topheader hidden-xs" ng-controller="MainController as headerCtrl">
	<div class="container">
		<div class="row margin-t-120">
			<div class="col-sm-6 col-sm-offset-6">
				<h1>Read, Create, Share &amp; Pray</h1>
				<h2>Exploring the Bible through a wonderfully designed curriculum.</h2>
				<a ui-sref="home({'#' : 'pricing'})" du-smooth-scroll><button type="button" class="btn btn-lg btn-primary">Shop HelloBible Now</button></a>
				<h3>Designed by moms for kids ages 4+.</h3>
			</div>
		</div>
	</div>

	<a ui-sref="home({ '#' : 'information'})" du-smooth-scroll>
		<div class="arrow-down animated bounce"></div>
	</a>
</div>

<div class="topheader-mobile visible-xs-block" ng-controller="MainController as headerMobileCtrl">
	<div class="container">
		<div class="row margin-t-40">
			<img src="/assets/images/headerbg-970.jpg" />
		</div>
		<div class="row">
			<h1>Read, Create, Share &amp; Pray</h1>
			<h2>Exploring the Bible through a wonderfully designed curriculum.</h2>
			<div class="row margin-t-30 subscribe-mobile">
				<a ui-sref="home({'#' : 'pricing'})" du-smooth-scroll><button type="button" class="btn btn-lg btn-primary">Shop HelloBible Now</button></a>
			</div>
			<h3>Designed by moms for kids ages 4+.</h3>
		</div>
	</div>
</div>

<!-- About 
<div id="how">
	<h1 class="text-center text-uppercase">How It Works</h1>

	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img class="img-rounded" src="/assets/images/how-image1-s.jpg" alt="" />
				<div class="caption">
					<h2>Get 1 box per month</h2>
					<p>Explore the Bible and enjoy quality time with your child.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img class="img-rounded" src="/assets/images/how-image2-s.jpg" alt="" />
				<div class="caption">
					<h2>Read, create, share &amp; pray</h2>
					<p>All ideas, materials and instructions are included.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img class="img-rounded" src="/assets/images/how-image3-s.jpg" alt="" />
				<div class="caption">
					<h2>Give God's love</h2>
					<p>For each ordered box, we donate to children in need.</p>
				</div>
			</div>
		</div>
	</div>
</div>
About End -->

<acme-social></acme-social>

<div id="information" ng-controller="MainController as informationCtrl">
	<div class="container">
		<h1 class="text-center text-uppercase">Our Subscriptions</h1>
		<div class="row info-mobile visible-xs-block">
			<uib-accordion close-others="true" ng-repeat="option in informationCtrl.options">
				<div uib-accordion-group is-open="status.open" class="panel-default">
					<uib-accordion-heading>
						<i class="accordion-heading-arrow pull-right fa" ng-class="{'fa-chevron-down': !status.open, 'fa-chevron-up': status.open}"></i>
						<img class="accordion-heading-title" src="{{option.titleImage}}" />
						<span class="accordion-heading-subtitle">{{option.name}}</span>
					</uib-accordion-heading>
					<div class="media">
						<div class="col-md-8" ng-if="option">
							<slick settings="informationCtrl.slickConfig">
								<div class="item" ng-repeat="c in option.carousel">
									<a href="/assets/images/info/{{c.image}}-l.jpg" data-lightbox="{{option.id}}" data-title="{{c.title}}">
										<img src="/assets/images/info/{{c.image}}-l.jpg" />
									</a>
								</div>
							</slick>
						</div>
						<div class="col-md-4">
							<h1>{{option.title}}</h1>
							<span ng-bind-html="option.text">{{option.text}}</span>
							<div class="buttons">
								<a ui-sref="home({'#' : 'pricing'})" du-smooth-scroll><button type="button" class="btn btn-lg btn-primary" aria-haspopup="true" aria-expanded="false">Get {{option.name}} Now</button></a>
							</div>
						</div>
					</div>
				</div>
			</uib-accordion>
		</div>
		<div class="row hidden-xs">
			<div ng-repeat="option in informationCtrl.options"  class="col-sm-5 col-md-4" ng-class="{'col-md-offset-2 col-sm-offset-1': $first}">
				<a ng-click="informationCtrl.showInfo(option.id)">
					<div class="thumbnail"  ng-class="{'active' : (option.id === informationCtrl.info)}">
						<img src="{{option.titleImage}}" />
						<div class="caption">
							<div class="captionHighlight">
								<p class="margin-t-30"><button type="button" class="btn btn-md btn-primary">Peek Inside {{option.name}}</button></p>
								<i class="fa fa-2x" ng-class="{'fa-chevron-down': (informationCtrl.info !== option.id), 'fa-chevron-up': (informationCtrl.info === option.id)}"></i>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="panel panel-default col-md-12 info-panel" ng-show="informationCtrl.info">
			<div class="panel-body">
				<div class="col-md-8" ng-if="informationCtrl.info">
					<slick settings="informationCtrl.slickConfig">
						<div class="item" ng-repeat="c in informationCtrl.infoObject.carousel track by $index">
							<a href="/assets/images/info/{{c.image}}-l.jpg" data-lightbox="{{informationCtrl.infoObject.id}}" data-title="{{c.title}}">
								<img src="/assets/images/info/{{c.image}}-l.jpg" />
							</a>
						</div>
					</slick>
				</div>
				<div class="col-md-4">
					<h1>{{informationCtrl.infoObject.title}}</h1>
					<span ng-bind-html="informationCtrl.infoObject.text">{{informationCtrl.infoObject.text}}</span>
					<div class="buttons">
						<a ui-sref="home({'#' : 'pricing'})"  du-smooth-scroll><button type="button" class="btn btn-lg btn-primary" aria-haspopup="true" aria-expanded="false">Shop {{informationCtrl.infoObject.name}} Now</button></a>
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>


<!-- Verse -->
<div class="verse ">
	<div class="container text-center ">
		<div class="col-xs-4 col-md-2 "><img src="/assets/images/danny-bible-white.png " /></div>
		<div class="col-xs-8 col-md-10 ">
			<blockquote class="blockquote ">
				"Let the little children come to me and do not hinder them, for to such belongs the kingdom of heaven. "
				<cite>Matthew 19:14</cite>
			</blockquote>
		</div>
	</div>
</div>

<acme-pricing></acme-pricing>

<acme-social></acme-social>

<acme-testimonials></acme-testimonials>


<acme-footer></acme-footer>