.inside {
  padding-top: 50px;
}

.inside h1 {
  color: $BBDarkGrey;
}

.inside h1:after {
  content: "";
  display: block;
  height: 4px;
  width: 80px;
  background: $BBBlue;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.inside {
	font-size: 18px;
}

.inside .text-read {
  color: $BBBlue;
	font-weight: bold;
}

.inside .text-create {
  color: $BBGreen;
	font-weight: bold;
}

.inside .text-pray {
  color: $BBYellow;
	font-weight: bold;
}

.inside ul li {
	padding-bottom: 25px;
}

.inside .logo-read {
	font-size: 50px;
  border-radius: 100px;
  padding: 10px;
  color: $BBBlue;
  border: 3px solid $BBBlue;
}

.inside .logo-create {
	font-size: 50px;
  border-radius: 100px;
  padding: 10px;
  color: $BBGreen;
  border: 3px solid $BBGreen;
}

.inside .logo-pray {
	font-size: 50px;
  border-radius: 100px;
  padding: 10px;
  color: $BBYellow;
  border: 3px solid $BBYellow;
}
