<app-nav></app-nav>

<section class="home-full-slider-wrapper">
  <!-- Hero Slider-->
  <div class="owl-carousel owl-theme home-full-slider">
    <div class="item home-full-item">
      <img src="/assets/images/camp/top.jpg" alt="" class="bg-image">
      <div class="container-fluid h-100 py-5">
        <div class="row align-items-center h-100">
          <div class="col-lg-8 col-xl-6 mx-auto text-center">
            <h1 class="mb-3 display-2 text-white font-weight-bold text-serif">HelloBible Camp Exclusive Materials</h1>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-7  order-md-2">
      <h2 class="featurette-heading">HelloBible Camp Certificate</h2>
      <p>
        <a target="_blank" href="/assets/images/camp/exclusives/certificate.pdf" class="btn btn-lg btn-primary">Download
          Camp
          Certificate</a>
      </p>

    </div>
    <div class="col-md-5  order-md-1">
      <a target="_blank" href="/assets/images/camp/exclusives/certificate.pdf">
        <img class="featurette-image img-fluid mx-auto" src="/assets/images/camp/exclusives/certificate.png">
      </a>
    </div>

  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">Bella Coloring</h2>
      <p>
        <a target="_blank" href="/assets/images/camp/exclusives/coloring.pdf" class="btn btn-lg btn-primary">Download
          Bella Coloring Sheet</a>
      </p>
    </div>
    <div class="col-md-5 order-md-2">
      <a target="_blank" href="/assets/images/camp/exclusives/coloring.pdf">
        <img class="featurette-image img-fluid mx-auto" src="/assets/images/camp/exclusives/coloring.png">
      </a>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-7  order-md-2">
      <h2 class="featurette-heading">Christmas Coloring</h2>
      <p>
        <a target="_blank" href="/assets/images/camp/exclusives/christmas-coloring.pdf"
          class="btn btn-lg btn-primary">Download
          Christmas Coloring Sheet</a>
      </p>
    </div>
    <div class="col-md-5  order-md-1">
      <a target="_blank" href="/assets/images/camp/exclusives/christmas-coloring.pdf">

        <img class="featurette-image img-fluid mx-auto" src="/assets/images/camp/exclusives/christmas-coloring.png">
      </a>
    </div>

  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">Jonah Coloring</h2>
      <p>
        <a target="_blank" href="/assets/images/camp/exclusives/jonah-coloring.pdf"
          class="btn btn-lg btn-primary">Download
          Jonah Coloring Sheet</a>
      </p>
    </div>
    <div class="col-md-5 order-md-2">
      <a target="_blank" href="/assets/images/camp/exclusives/jonah-coloring.pdf">

        <img class="featurette-image img-fluid mx-auto" src="/assets/images/camp/exclusives/jonah-coloring.png">
      </a>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-7  order-md-2">
      <h2 class="featurette-heading">Noah Coloring</h2>
      <p>
        <a target="_blank" href="/assets/images/camp/exclusives/noah-coloring.pdf"
          class="btn btn-lg btn-primary">Download
          Noah Coloring Sheet</a>
      </p>
    </div>
    <div class="col-md-5  order-md-1">
      <a target="_blank" href="/assets/images/camp/exclusives/noah-coloring.pdf">

        <img class="featurette-image img-fluid mx-auto" src="/assets/images/camp/exclusives/noah-coloring.png">
      </a>
    </div>

  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-6 order-md-1">
      <h2 class="featurette-heading">Trust Activities</h2>
      <p>
        <a target="_blank" href="/assets/images/camp/exclusives/trust-activities.pdf"
          class="btn btn-lg btn-primary">Download Instructions</a>
      </p>
    </div>
    <div class="col-md-6 order-md-2">
      <a target="_blank" href="/assets/images/camp/exclusives/trust-activities.pdf">
        <img class="featurette-image img-fluid mx-auto" src="/assets/images/camp/exclusives/trust-activities.png">
      </a>
    </div>
  </div>

  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-5 order-md-2">
      <h2 class="featurette-heading">Let's Move - Jungle Animals</h2>
    </div>

    <div class="col-md-7 order-md-1 embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DB9Dwnd3_EE" allowfullscreen></iframe>
    </div>
  </div>

  <hr class="featurette-divider">


  <div class="row featurette">

    <div class="col-md-5  order-md-1">
      <h2 class="featurette-heading">Let's Move - Sea Animals</h2>
    </div>

    <div class="col-md-7 order-md-2 embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RR_vLqn17lE" allowfullscreen></iframe>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 order-md-2">
      <h2 class="featurette-heading">Let's Move - Safari Animals</h2>

    </div>

    <div class="col-md-7 order-md-1 embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/URUjhNLAPko" allowfullscreen></iframe>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-5  order-md-1">
      <h2 class="featurette-heading">Let's Move - Farm Animals</h2>
    </div>

    <div class="col-md-7 order-md-2 embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tg00k2SoQqY" allowfullscreen></iframe>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  <hr class="featurette-divider">

  <h4 class="mb-4 text-uppercase">Contact us</h4>
  <p class="lead mb-5">If you have additional questions, please don't hesitate to <a target='_blank'
      href='https://hellobible2.zendesk.com/hc/en-us/requests/new'>contact us</a>.</p>

</div><!-- /.container -->