#subscribe input[type="submit"]:active , .subscribe-inputs input[type="submit"]:hover {
  background: #7F7F7F;
}

.subscribe-inputs input[type="email"] {
  background: #fff;
  padding: 8px;
  border: 0 none;
  width: 65%;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-inputs input[type="submit"] {
  background: $BBPink;
  color: #fff;
  padding: 8px;
  border: 0 none;
  margin-left: -5px;
  width: 35%;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


.subscribe-inputs {
  background: rgba(66, 66, 66, 0.8);
  width: 100%;
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.subscribe-message {
  color: red;
}

/*********************************************************/
/* TOASTR
/*********************************************************/
.toast-info {
  background-color: $BBPink;
}

.toast-error {
  background-color: #E43A2A;
}
