<div id="why">
    <h1>Why HelloBible</h1>
    <div class="row hidden-xs">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3 col-sm-3" ng-repeat="item in why">
                <div class="thumbnail">
                    <span ng-switch on="item.link.charAt(0)">
                        <a ng-switch-when="#" ui-sref="home({'#' : '{{item.link.substring(1)}}'})">
                            <img ng-src="{{item.image}}.jpg" />
                        </a>
                        <a ng-switch-default href="{{item.link}}">
                            <img ng-src="{{item.image}}.jpg" />
                        </a>
                    </span>

                    <div class="caption">
                        <p ng-bind-html="item.text"></p>
                    </div>
                    <blockquote class="blockquote">
                        <p class="mb-0">{{item.quote}}</p>
                        <footer class="blockquote-footer">{{item.name}}
                            <cite ng-bind-html="item.title"></cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <div class="visible-xs-block">
        <slick settings="slideConfig">
            <div class="media" ng-repeat="item in why">
                <h3 ng-bind-html="item.text"></h3>

                <img class="media-object" ng-src="{{item.image}}.jpg">
                <div class="media-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">{{item.quote}}</p>
                        <footer class="blockquote-footer">{{item.name}}
                            <cite ng-bind-html="item.title"></cite>
                        </footer>
                    </blockquote>
                </div>
                <div class="why-button">
                    <a ui-sref="{{item.link}}" du-smooth-scroll>
                        <button type="button" class="btn btn-lg btn-primary" aria-haspopup="true" aria-expanded="false">{{item.button}}</button>
                    </a>
                </div>
            </div>
        </slick>
    </div>
</div>