<section class="position-relative py-6 mt-7 mb-30px"><img src="/assets/images/stories/top.jpg" alt="Photo of Kid holding HelloBible Box"
    class="bg-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="bg-white p-5"><strong class="text-muted text-uppercase d-inline-block mb-2 text-sm">Previous Boxes</strong>
          <h2 class="mb-3">Sneak a peek.</h2>
          <p class="text-muted">A fun and faith-filled journey through the Bible.</p>
          <p>
            <a href="/home" class="btn btn-primary">Order Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="album text-muted">
  <div class="container">

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="assets/images/stories/christmas.jpeg" alt="Photo of Content of Christmas Box">
              <div class="card-body">
                <blockquote class="blockquote">
                  <p class="mb-0">Today in the town of David a Savior has been born to you: He is the Messiah, the
                    Lord.</p>
                  <footer class="blockquote-footer">
                    <cite>Luke 2:11</cite>
                  </footer>
                </blockquote>
                <p class="card-text">Dive into the Christmas Story. Learn about Jesus and why Christmas is so
                  important.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="assets/images/stories/ruth.jpeg" alt="Photo of Content of Ruth and Naomi Box">
              <div class="card-body">
                <blockquote class="blockquote">
                  <p class="mb-0">Where you go I will go, and where you stay I will stay. Your people will be my people
                    and your God my God.</p>
                  <footer class="blockquote-footer">
                    <cite>Ruth 1:16</cite>
                  </footer>
                </blockquote>
                <p class="card-text">Meet two faithful women and friends: Ruth and Naomi. Let's explore how God cares
                  for them.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="assets/images/stories/daniel.jpeg" alt="Photo of Content of Daniel Box">
              <div class="card-body">
                <blockquote class="blockquote">
                  <p class="mb-0">So Daniel was taken out of the den, and no wound was found on him, for he had trusted
                    in his God.</p>
                  <footer class="blockquote-footer">
                    <cite>Daniel 6:23</cite>
                  </footer>
                </blockquote>
                <p class="card-text">Daniel trusted God even when everything seemed lost. Learn how God protected
                  Daniel in the Lions' den.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="assets/images/stories/noah.jpeg" alt="Photo of Content of Noah Box">
              <div class="card-body">
                <blockquote class="blockquote">
                  <p class="mb-0">I will put my rainbow in the clouds to be a sign of my promise to the earth.</p>
                  <footer class="blockquote-footer">
                    <cite>Genesis 9:13</cite>
                  </footer>
                </blockquote>
                <p class="card-text">Get to know Noah and explore more about his adventures with God. Learn how God
                  saved Noah's family and the animals. </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="assets/images/stories/joshua.jpeg" alt="Photo of Content of Joshua Box">
              <div class="card-body">
                <blockquote class="blockquote">
                  <p class="mb-0">Be strong and courageous.</p>
                  <footer class="blockquote-footer">
                    <cite>Joshua 1:9</cite>
                  </footer>
                </blockquote>
                <p class="card-text">Be strong and courageous like Joshua, for the Lord our God is with us and no walls
                  are to big for Him.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="assets/images/stories/david.jpeg" alt="Photo of Content of David Box">
              <div class="card-body">
                <blockquote class="blockquote">
                  <p class="mb-0">The battle is the Lord’s.</p>
                  <footer class="blockquote-footer">
                    <cite>1 Samuel 17:47</cite>
                  </footer>
                </blockquote>
                <p class="card-text">Meet David the shepherd boy. Learn how God was with David when he defeated
                  Goliath.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>