<section class="position-relative py-6"><img src="/assets/images/stories/top.jpg"
    alt="Photo of Kid holding HelloBible Box" class="bg-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="bg-white p-5">
          <h2 class="mb-3">Sneak a peek.</h2>
          <p class="text-muted">Hi! We are Bella the Butterfly and Danny the Donkey. I guess you could call us the
            mascots around here.
            Each month, we'll be sending you a HelloBible box and you'll be getting to know us much more.
            We can’t wait to get to know you and to explore the Bible together!</p>
          <p class="text-muted">
            Let’s go on an adventure!
            See you soon :)</p>
          <p>
            <a href="https://junior.hellobible.org/" class="btn btn-primary">Join HelloBible Junior</a>
          </p>
          <p>
            <a href="https://explorer.hellobible.org/" class="btn btn-secondary">Join HelloBible Explorer</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="album text-muted">
  <div class="container">

    <div class="album py-5">
      <div class="container-fluid">

          <div class="col-md-auto">
            <div class="col-xl-12 mx-auto text-center mb-3">
              <h2 class="text-uppercase">Sample Boxes</h2>
            </div>

        </div>

        <div class="row">
          <div class="card col-xl-6 mb-4 shadow-sm">

            <a routerLink="/fishers-of-men"><img class="card-img-top"
                src="/assets/images/stories/explorer-fishers-of-men.jpg"
                alt="Photo of Content of Fishers of Men Box"></a>
            <div class="card-body">
              <blockquote class="blockquote">
                <p class="mb-0">Follow me, and I will make you fishers of men.</p>
                <footer class="blockquote-footer">
                  <cite>Matthew 4:19</cite>
                </footer>
              </blockquote>

              <p class="card-text">Meet Jesus and his first disciples. Let's explore how Jesus calls these fishermen
                to follow him.</p>
              <!--<p class="card-text"><a target="_blank" href="http://www.sarajcreations.com/2017/12/hellobible-box-subscription-review.html"><i
                      class="fa fa-external-link"></i> Review by Sara J. Creations</a></p>-->
              <p class="text-center">
                <a routerLink="/fishers-of-men" class="btn btn-lg btn-primary">Look Inside</a>
              </p>
            </div>
          </div>
          <div class="card col-xl-6 mb-4 shadow-sm">

            <a routerLink="/noah-junior"><img class="card-img-top"
                src="/assets/images/stories/carousel/noah-junior.jpg"
                alt="Photo of Content of the Noah HelloBible Junior Box"></a>
            <div class="card-body">
              <blockquote class="blockquote">
                <p class="mb-0">I will put my rainbow in the clouds to be a sign of my promise to the earth.</p>
                <footer class="blockquote-footer">
                  <cite>Genesis 9:13</cite>
                </footer>
              </blockquote>

              <p class="card-text">Read, craft, and pray with us as we discover more about Noah and the animals.</p>
              <p class="text-center">
                <a routerLink="/noah-junior" class="btn btn-lg btn-primary">Look Inside</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">More Boxes</h2>
      </div>
      <div class="row mx-auto">
        <div class="mx-auto mb-2">
          <h3 class="featurette-heading text-center">Each Month, the Bible story is a surprise.</h3>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/joseph-junior.jpg" class="img-fluid" alt="Joseph">
          <div class="caption">
            <h4>Joseph (Junior)</h4>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/david-junior.jpg" class="img-fluid" alt="David">
          <div class="caption">
            <h4>David (Junior)</h4>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/moses-junior.jpg" class="img-fluid" alt="Moses">
          <div class="caption">
            <h4>Moses (Junior)</h4>
          </div>
        </div>

      </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/jesus-heals.jpg" class="img-fluid" alt="Jesus Heals The Paralytic">
          <div class="caption">
            <h4>Jesus Heals The Paralytic (Explorer)</h4>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/jesus-is-risen.jpg" class="img-fluid" alt="Jesus is Risen">
          <div class="caption">
            <h4>Jesus is Risen (Explorer)</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/jesus-calms-storm.jpg" class="img-fluid" alt="Jesus Calms the Storm">
          <div class="caption">
            <h4>Jesus Calms the Storm (Explorer)</h4>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</section>