<div id="pricing">
  <div class="container">
    <h1 class="text-center text-uppercase">Order <b style="color: #00a8d6">HelloBible&#0153;</b> Now</h1>
    <div class="row">
    <h2><img ng-src="/assets/images/pricing/{{option.titleImage}}" /></h2>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-4" ng-repeat="plan in option.plans">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>{{plan.name}}</h1>
          </div>
          <div class="panel-body">
            <div class="price">{{plan.price}} + <i class="fa fa-truck fa-flip-horizontal"></i></div>
            <p class="margin-t-30"><a ng-click="addToCart(plan.productUrl, plan.name)"><button type="button" class="btn btn-lg btn-primary">Add to Cart</button></a></p>
            <div class="media" ng-repeat="item in plan.bullets">
              <i class="pull-left media-object {{item.logo}}"></i>
              <div class="media-body">{{item.text}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer hidden-xs" ng-show="info">
        <div class="col-xs-12">
          All subscriptions renew automatically. You may cancel anytime.
        </div>
      </div>
    </div>
  </div>
</div>
