<div id="pricing">
  <div class="container">
    <h1 class="text-center text-uppercase">Start Your Journey</h1>
    <div class="row">
      <h2>
        <img src="/assets/images/pricing/premium-box.png" />
      </h2>
      <!--<div class="offer">
        Save $5 on Your 1st Box! Ends Feb 13. Use code <b>NOAH5</b>.
      </div>-->
    </div>


    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>Monthly</h1>
          </div>
          <div class="panel-body">
            <div>&nbsp;</div>
            <div class="price">
              <span class="priceColor">$19.90</span><span class="pricePerMonth">/month</span>
            </div>

            <div class="choose-children">
              <select name="monthlyPlan" id="monthlyPlan" ng-model="selectedOptions['monthlyPlan']" ng-change="printData()">
                <option value="1">1 Child</option>
                <option value="2">2 Children + $4.90/month</option>
                <option value="3">3 Children + $9.80/month</option>
                <option value="4">4 Children + $14.70/month</option>
                <option value="5">5 Children + $19.60/month</option>
                <option value="6">6 Children + $24.50/month</option>
                <option value="7">7 Children + $29.40/month</option>
                <option value="8">8 Children + $34.30/month</option>
                <option value="9">9 Children + $39.20/month</option>
                <option value="10">10 Children + $44.10/month</option>
              </select>
            </div>

            <p class="margin-t-30">
              <a ng-click="addToCart('monthlyPlan')">
                <button type="button" class="btn btn-lg btn-primary">Add to Cart</button>
              </a>
            </p>

            <div class="media">
                <i class="pull-left media-object fa fa-heart"></i>
                <div class="media-body">Supports children in Kenya.</div>
                <i class="pull-left media-object fa fa-truck"></i>
                <div class="media-body">FREE Shipping</div>
                <!--<i class="pull-left media-object fa fa-tags"></i>
                <div class="media-body">SAVE $10/month.</div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>6 Months</h1>
          </div>
          <div class="panel-body">
            <div class="popular"><i class="fa fa-tags"></i> <b>Most popular</b></div>
            <div class="price">
              <span class="priceColor">$18.90</span><span class="pricePerMonth">/month</span>
            </div>

            <div class="choose-children">
              <select name="sixMonthsPlan" id="sixMonthsPlan" ng-model="selectedOptions['sixMonthsPlan']"ng-change="printData()">
                <option value="1">1 Child</option>
                <option value="2">2 Children + $4.90/month</option>
                <option value="3">3 Children + $9.80/month</option>
                <option value="4">4 Children + $14.70/month</option>
                <option value="5">5 Children + $19.60/month</option>
                <option value="6">6 Children + $24.50/month</option>
                <option value="7">7 Children + $29.40/month</option>
                <option value="8">8 Children + $34.30/month</option>
                <option value="9">9 Children + $39.20/month</option>
                <option value="10">10 Children + $44.10/month</option>
              </select>
            </div>

            <p class="margin-t-30">
              <a ng-click="addToCart('sixMonthsPlan')">
                <button type="button" class="btn btn-lg btn-primary">Add to Cart</button>
              </a>
            </p>
            <div class="media">
                <i class="pull-left media-object fa fa-heart"></i>
                <div class="media-body">Supports children in Kenya.</div>
                <i class="pull-left media-object fa fa-truck"></i>
                <div class="media-body">FREE Shipping</div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>12 Months</h1>
          </div>
          <div class="panel-body">
            <div class="popular"><i class="fa fa-book"></i> <b>Full curriculum </b><i class="fa fa-tags"></i> <b>Best value</b></div>

            <div class="price">
              <span class="priceColor">$17.90</span><span class="pricePerMonth">/month</span>
            </div>

            <div class="choose-children">
              <select name="twelveMonthsPlan" id="twelveMonthsPlan" ng-model="selectedOptions['twelveMonthsPlan']" ng-change="printData()">
                  <option value="1">1 Child</option>
                  <option value="2">2 Children + $4.90/month</option>
                  <option value="3">3 Children + $9.80/month</option>
                  <option value="4">4 Children + $14.70/month</option>
                  <option value="5">5 Children + $19.60/month</option>
                  <option value="6">6 Children + $24.50/month</option>
                  <option value="7">7 Children + $29.40/month</option>
                  <option value="8">8 Children + $34.30/month</option>
                  <option value="9">9 Children + $39.20/month</option>
                  <option value="10">10 Children + $44.10/month</option>
              </select>
            </div>

            <p class="margin-t-30">
              <a ng-click="addToCart('twelveMonthsPlan')">
                <button type="button" class="btn btn-lg btn-primary">Add to Cart</button>
              </a>
            </p>
            <div class="media">
                <i class="pull-left media-object fa fa-heart"></i>
                <div class="media-body">Supports children in Kenya.</div>
                <i class="pull-left media-object fa fa-truck"></i>
                <div class="media-body">FREE Shipping</div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="col-xs-12">
          All subscriptions renew automatically. <br/>You may cancel anytime.
        </div>
        <div class="col-xs-12">
          Your 1st box will be shipped within a week of receiving the order.
        </div>
      </div>
    </div>
  </div>
</div>
