#pricing {

  p {
    color: $BBDarkGrey;
    text-align: center;
  }

  h1:after {
    content: "";
    display: block;
    height: 4px;
    width: 80px;
    background: $BBBlue;
    margin: 0 auto;
    margin-top: 10px;
  }

  .offer {
    color: $BBDarkOrange;
    text-align: center;
  }

  .popular {
    font-size: 18px;
    text-align: center;
    color: grey;
  }

  .price {
    font-size: 24px;
    text-align: center;
    padding-bottom: 15px;
  }

  .priceColor {
    color: #A3331A;
    font-weight: bold;
  }

  .pricePerMonth {
    color: #A3331A;
  }

  .choose-children {
    text-align: center;
  }

  .accordion-toggle:focus {
    outline: none;
  }

  .caption {
    text-align: center;
  }

  .captionHighlight {
    text-align: center;
    color: black;
  }

  .active {
    background-color: #F5F5F5;
  }

  .footer {
    text-align: center;
  }

  .accordion-heading-subtitle {
    font-size: 16pt;
  }

  .accordion-heading-title {
    width : 80px;
  }

  .list-group-item-text {
    text-align: left;
  }

  .gift {
    color: $BBBlue;
  }

  .heart {
    color: red;
  }

}