#pricing {
  p {
    color: $BBDarkGrey;
    text-align: center;
  }

  h1:after {
    content: "";
    display: block;
    height: 4px;
    width: 80px;
    background: $BBBlue;
    margin: 0 auto;
    margin-top: 10px;
  }

  .header span {
    color: red;
  }

  .footer {
    text-align: center;
  }

  .accordion-heading-title {
    color: $BBBlue;
    font-size: 26pt;
  }

  .accordion-heading-arrow {
    color: $BBBlue;
  }

  .accordion-heading-subtitle {
    font-size: 10pt;
    line-height: 1.0;

    .accordion-heading-donation {
      color: red;
    }

  }

  .caption {
    margin-top: -25px;
  }

  .captionHighlight {
    background-color: $BBBlue;

    h2, p {
      color: white;
    }

  }

  .media-body {
    line-height: 1.1;
  }
  
  .gift {
    color: $BBBlue;
  }

  .heart {
    color: red;
  }

  .book {
    color: $BBBlue;
  }

  .giftChoose {
    color: $BBBlue;
  }

  input[type="checkbox"] {
    position:relative;
    vertical-align:middle;
    transform:scale(1.5, 1.5);
  }

  label {  
    padding-top: 12px;
    position:relative;
    left: 15px;
    display:inline-block;    
    vertical-align:middle; 
  }

}

.pricing-mobile span:focus {
  outline: none;
  border: 0;
}

.modal-body p {
   color: $BBDarkGrey;
}