<section class="position-relative py-6"><img src="/assets/images/explorer/explorer-top.jpeg"
  alt="Photo of Kid holding HelloBible Box" class="bg-image">
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="bg-white p-4">
        <h2>
          <p class="text-muted">Let HelloBible Explorer teach your child about Jesus!</p>
        </h2>
        <h3>
          <p class="text-muted"> Perfect for ages 5-10!</p>
        </h3>
      </div>
    </div>
  </div>
</div>
</section>

<section class="album explorer-bg-blue mb-4">
<div class="container">
  <div class="row featurette">

    <div class="col-md-7  order-md-2">
      <h2 class="featurette-heading">HELPING YOUR CHILD LEARN AND LOVE JESUS.</h2>
      <p class="lead">HelloBible gives children monthly opportunities to grow closer to Jesus while spending time with their families. With 24 months of curriculum, HelloBible allows your child to partake in engaging crafts, Bible stories, games, and lessons!</p>
      <p class="text-center">
        <a pageScroll href="#pricing" class="btn btn-lg btn-primary explorer-button-color ">Order Now</a>
      </p>
    </div>
    <div class="col-md-5  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/explorer/explorer-family.jpeg">
    </div>

  </div>
</div>
</section>


<section class="album text-muted">


<div class="container">
  <div class="row">
    <div class="col-xl-8 mx-auto text-center mb-3">
      <h2 class="text-uppercase">CHECK OUT WHAT COMES IN THE BOX EACH MONTH!</h2>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6 col-md-4">

      <div class="thumbnail">
        <img src="/assets/images/explorer/explorer-monthly-verse.jpeg" class="img-fluid">
        <div class="caption">
          <h4>Monthly Verse</h4>
          <p>Your child will receive a welcome card and collector's sticker from Danny the Donkey with a monthly Bible verse. Use this as a memory verse card to help keep God's Word in their hearts.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-md-4">

      <div class="thumbnail">
        <img src="/assets/images/explorer/explorer-two-crafts.jpeg" class="img-fluid">
        <div class="caption">
          <h4>Two Crafts in Every Box</h4>
          <p>Your child will receive all of the materials needed to complete two art projects! Each box will come with enough materials for two children to complete. Share with a sibling, friend, or work alongside a parent!
          </p>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-md-4">

      <div class="thumbnail">
        <img src="/assets/images/explorer/explorer-family-activity.jpeg" class="img-fluid" alt="Moses">
        <div class="caption">
          <h4>Family Activity</h4>
          <p>Each month your box will include an activity or game for your family to partake in. Have fun while
            teaching your little ones about Jesus!</p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/explorer/explorer-faith-filled.jpeg" class="img-fluid"
            alt="Jesus Heals The Paralytic">
          <div class="caption">
            <h4>Faith-filled Bible Story Book</h4>
            <p>The fun begins with a Bible Story each month, tailored toward your little one's age group so that they
              can learn and understand stories from the Bible!</p>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/explorer/explorer-parent-guide.jpeg" class="img-fluid" alt="Jesus is Risen">
          <div class="caption">
            <h4>Parent Guide</h4>
            <p>Our easy-to-teach parent guides have discussion questions to cultivate conversation between you and your child to better understand the Bible. They include prayers, fun facts, art projects, and additional ideas to help kids learn and engage with the lesson.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/explorer/explorer-giving.jpeg" class="img-fluid" alt="Jesus Calms the Storm">
          <div class="caption">
            <h4>Giving Back</h4>
            <p>When you subscribe, a portion of proceeds from each HelloBible box you receive goes to providing
              children in Kenya safe classrooms, nurturing teachers, nutritious meals, and an opportunity to continue
              on with their education. <a routerLink="/kilgoris" routerLinkActive="active">Click to learn more</a>
              about our partner, The Kilgoris Project.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</section>

<hr class="featurette-divider">


<section id="pricing" class="bg-gray-100 text-muted">
  
<div class="card-body">

  <div class="row">
    <div class="col-xl-8 mx-auto text-center mb-3">
      <h2 class="text-uppercase">CHOOSE YOUR PLAN</h2>
      <p class="lead text-muted">Explore with your kids or give as a gift.
        Boxes ship at the end of each month. Cancel anytime.</p>

    </div>
  </div>

  <div class="row justify-content-md-center col-md-10 mx-auto col-xl-10">
    <div class="mx-auto mb-10px px-5px">
      <div class="card mb-4 shadow-sm">

        <div class="card-header">
          <img class="img-fluid" src="/assets/images/explorer/explorer-monthly.jpeg">
        </div>
        <div class="card-body">
          <h2 class="my-0 font-weight-normal text-center">Monthly</h2>

          <h4 class="card-title pricing-card-title text-center">$29.80 <small class="text-muted">/
              mo</small>
          </h4>
          <ul class="list-unstyled mt-3 mb-4">
            <li><span class="fa fa-heart"></span> Supports children in Kenya.</li>
            <li><span class="fa fa-users"></span> Shareable material for 2 children.</li>
            <li><span class="fa fa-tag"></span> ${{explorerMonthlyTotal}} + $5 shipping/box</li>
          </ul>
          <div class="text-center mt-3">
            <a (click)="addToCartExplorer('explorerMonthlyPlan')">
              <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart mr-2"></i>Add to
                Cart</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto mb-10px px-5px">
      <div class="card mb-4 shadow-sm">

        <div class="card-header">
          <img class="img-fluid" src="/assets/images/explorer/explorer-6months.jpeg">

        </div>
        <div class="card-body">
          <h2 class="my-0 font-weight-normal text-center">6 Months</h2>

          <h4 class="card-title pricing-card-title text-center">$28.80 <small class="text-muted">/
              mo</small>
          </h4>
          <ul class="list-unstyled mt-3 mb-4">
            <li><span class="fa fa-heart"></span> Supports children in Kenya.</li>
            <li><span class="fa fa-users"></span> Shareable material for 2 children.</li>
            <li><span class="fa fa-tag"></span> ${{explorerSixMonthsTotal}} + $5 shipping/box</li>
          </ul>
          <div class="text-center mt-3">
            <a (click)="addToCartExplorer('explorerSixMonthsPlan')">
              <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart mr-2"></i>Add to
                Cart</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto mb-10px px-5px">
      <div class="card mb-4 shadow-sm">

        <div class="card-header">
          <img class="img-fluid" src="/assets/images/explorer/explorer-12months.jpeg">

        </div>
        <div class="card-body">
          <h2 class="my-0 font-weight-normal text-center">12 Months</h2>

          <h4 class="card-title pricing-card-title text-center">$26.80 <small class="text-muted">/
              mo</small>
          </h4>
          <ul class="list-unstyled mt-3 mb-4">
            <li><span class="fa fa-heart"></span> Supports children in Kenya.</li>
            <li><span class="fa fa-users"></span> Shareable material for 2 children.</li>
            <li><span class="fa fa-tag"></span> ${{explorerTwelveMonthsTotal}} + $5 shipping/box</li>
          </ul>
          <div class="text-center mt-3">
            <a (click)="addToCartExplorer('explorerTwelveMonthsPlan')">
              <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart mr-2"></i>Add to
                Cart</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>

<section class="explorer-bg-blue text-dark-700 py-6">
<div class="container">
  <div class="row">
    <div class="col-xl-8 mx-auto text-center mb-3">
      <h2 class="text-uppercase">DANNY THE DONKEY WILL TAKE YOUR EXPLORER ON AN ADVENTURE EACH MONTH THROUGH THE BIBLE!</h2>
      <p class="lead">Conveniently delivered right to your door, HelloBible comes with step-by-step parent guides and all materials needed for each activity in the box each month.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 service-column">
      <img class="service-icon" src="/assets/images/explorer/explorer-danny1.png">
      <div class="service-text">
        <h6 class="text-uppercase">Growing closer to Jesus</h6>
        <p class="font-weight-light text-sm mb-0">Your child will get to enjoy Bible and art projects while learning to love Jesus!</p>
      </div>
    </div>
    <div class="col-lg-4 service-column">
      <img class="service-icon" src="/assets/images/explorer/explorer-danny2.png">

      <div class="service-text">
        <h6 class="text-uppercase">24 Months of Lessons</h6>
        <p class="font-weight-light text-sm mb-0">HelloBible is a 24-month long subscription which means you will have 24-months of Faith-based curriculum delivered right to your door.</p>
      </div>
    </div>
    <div class="col-lg-4 service-column">
      <img class="service-icon" src="/assets/images/explorer/explorer-danny3.png">

      <div class="service-text">
        <h6 class="text-uppercase">Materials for 2 Children</h6>
        <p class="font-weight-light text-sm mb-0">Each HelloBible box comes with craft material to share between two preschoolers or to craft along with a parent or sibling.</p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="album text-muted mt-4 mb-4">
<div class="container">
  <div class="row featurette">

    <div class="col-md-5  order-md-2">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/explorer/explorer-help-grow.jpeg">
    </div>

    <div class="col-md-7  order-md-1">
      <h2 class="featurette-heading">HELP YOUR CHILD GROW IN FAITH! </h2>
      <p class="lead">Explore HelloBible with your kids or give as a gift! Boxes ship at the end of each month. Cancel anytime!</p>
      <p class="text-center">
        <a pageScroll href="#pricing" class="btn btn-lg btn-primary">Order Now</a>
      </p>
    </div>


  </div>
</div>
</section>

<hr class="featurette-divider">

<section class="album mb-4 ">
<div class="container">
  <div class="row featurette">

    <div class="col-md-5  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/explorer/explorer-community.png">
    </div>

    <div class="col-md-7 order-md-2">
      <h2 class="text-muted">FROM OUR COMMUNITY</h2>
      
      <blockquote class="blockquote mt-2">
        <p class="mb-0">We received our first box last month. The box came with everything that was needed and all materials were high quality. I particularly loved that there were two sets of activities—a craft and another one where they can put Gospel concepts into practice. My boys loved the story book that came with it and it was a great Sunday activity to do. I look forward to getting
          my second box!</p>
        <footer class="blockquote-footer"> Denhi C.</footer>
        <span class="explorer-star-color text-center fa fa-star fa-2x"></span>
        <span class="explorer-star-color fa fa-star fa-2x"></span>
        <span class="explorer-star-color fa fa-star fa-2x"></span>
        <span class="explorer-star-color fa fa-star fa-2x"></span>
        <span class="explorer-star-color fa fa-star fa-2x"></span>
      </blockquote>
    </div>


  </div>
</div>
</section>


<hr class="featurette-divider">

<section class="album text-muted mt-4 mb-4">
<div class="container">
  <div class="row featurette">

    <div class="col-md-5  order-md-2">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/explorer/explorer-checkout.jpeg">
    </div>

    <div class="col-md-7  order-md-1">
      <h2 class="featurette-heading">Check out some of our other boxes!</h2>
      <p class="lead">Click below to see boxes available for one-time purchases.</p>
      <p class="text-center">
        <a href="https://shop.faithbox.com/collections/faithbox-kids?utm_source=hellobible&utm_medium=explorer-page&utm_campaign=shop-link" class="btn btn-lg btn-primary">Order Now</a>
      </p>
    </div>


  </div>
</div>
</section>