<app-nav></app-nav>

<section class="home-full-slider-wrapper">
  <!-- Hero Slider-->
  <div class="owl-carousel owl-theme home-full-slider">
    <div class="item home-full-item">
      <img src="/assets/images/camp/top.jpg" alt="" class="bg-image">
      <div class="container-fluid h-100 py-5">
        <div class="row align-items-center h-100">
          <div class="col-lg-8 col-xl-6 mx-auto text-center">
            <h1 class="mb-3 display-2 text-white font-weight-bold text-serif">HelloBible Camp in a Box</h1>
            <h2 class="mb-3 display-5 text-white text-serif">Orders ship July 1st</h2>
            <h2 class="mb-3 display-5 text-white text-serif">Limited Quantity</h2>
            <p><a pageScroll href="#pricing" class="btn btn-lg btn-primary">Order Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="bg-gray-100 text-dark-700 py-6">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">Join us on an amazing Bible adventure this Summer!</h2>
        <p class="lead text-muted">Conveniently Delivered. All Materials Included. Easy to follow Camp Schedule.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-people service-icon fa fa-map fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Camp Kit</h6>
          <p class="font-weight-light text-sm mb-0">Camp schedule. Guides. Instructions for parents.</p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-truck service-icon fa fa-tree fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">6 Engaging Camp Sessions</h6>
          <p class="font-weight-light text-sm mb-0">Each session includes story time, creative craft time, and fun
            activities for 2 campers.</p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-pen service-icon fa fa-search fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Discover Bible Stories</h6>
          <p class="font-weight-light text-sm mb-0">Discover Bible stories and learn more about God each day.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container marketing mb-4 mt-4 col-xl-6 mx-auto">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jtk3I6aCM-E" allowfullscreen></iframe>
  </div>
</div>


<div class="container marketing">

  <!-- START THE FEATURETTES -->



  <div class="row featurette" id="pricing">

    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading text-uppercase">How it works</h2>
      <h3 class="text-muted">$89.95 + <span class="fa fa-flip-horizontal fa-truck"></span> Free Shipping</h3>
      <p class="lead">Join us on an amazing Bible adventure this summer! Bella the Butterfly will take Kids ages 3-5 on
        an amazing Bible adventure. Kids will discover different Bible stories, they will meet many animals and learn
        more about God.</p>
      <p class="lead">HelloBible Camp in a Box contains <b>6 SESSIONS</b> for <b>2 CAMPERS</b>. Each session includes
        story time, creative craft time, and fun activities. It will keep your campers engaged 3-4 hours a day.</p>
      <ul class="lead">
        <li>Bible storybook "Animal Friends"</li>
        <li>Camp schedule</li>
        <li>Parent guides and instructions</li>
        <li>All craft materials, markers, paint, giant bubble mix, water beads and so much more</li>
        <li>Online materials like coloring pages or movement videos</li>
      </ul>
      <p class="lead display-5 font-weight-bold ">Orders will ship July 1st. Submit your order now, availability is
        limited.</p>
      <p><a pageScroll href="https://hellobible.cratejoy.com/buy/SQ7247880/" class="btn btn-lg btn-primary">Add to
          Cart</a></p>
    </div>
    <div class="col-md-5  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/camp/mosaic.jpg" alt="Engaged Kid">
    </div>

  </div>

  <!-- /END THE FEATURETTES -->

</div>


<section class="pt-2 bg-gray-100 mt-3">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">What's Inside</h2>
        <p class="lead text-muted">HelloBible's Camp in a Box comes with 6 engaging sessions. Each session includes
          story time, creative craft time, and fun activities for 2 campers.
        </p>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/camp/1session.png" class="img-fluid" alt="Joseph">
          <div class="caption">
            <h4>Session 1 <span class="text-muted">The Dove and Noah</span></h4>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/camp/2session.png" class="img-fluid" alt="David">
          <div class="caption">
            <h4>Session 2 <span class="text-muted">The Camel and Rebekah</span></h4>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/camp/3session.png" class="img-fluid" alt="Moses">
          <div class="caption">
            <h4>Session 3 <span class="text-muted">The Lions and Daniel</span></h4>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4">

          <div class="thumbnail">
            <img src="/assets/images/camp/4session.png" class="img-fluid" alt="Jesus Heals The Paralytic">
            <div class="caption">
              <h4>Session 4 <span class="text-muted">The Big Fish and Jonah</span></h4>
            </div>
          </div>

        </div>
        <div class="col-sm-6 col-md-4">

          <div class="thumbnail">
            <img src="/assets/images/camp/5session.png" class="img-fluid" alt="Jesus is Risen">
            <div class="caption">
              <h4>Session 5 <span class="text-muted">The Donkey and Jesus</span></h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">

          <div class="thumbnail">
            <img src="/assets/images/camp/6session.png" class="img-fluid" alt="Jesus Calms the Storm">
            <div class="caption">
              <h4>Session 6 <span class="text-muted">The Sheep and the Good Shepherd</span></h4>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row container">
      <div class=" mx-auto col-md-4 text-center">
        <p><a pageScroll href="https://hellobible.cratejoy.com/buy/SQ7247880/" class="btn btn-lg btn-primary">Add to
            Cart</a></p>
      </div>
    </div>
  </div>
</section>