<app-nav></app-nav>

<section class="home-full-slider-wrapper">
  <!-- Hero Slider-->
  <div class="owl-carousel owl-theme home-full-slider">
    <div class="item home-full-item">
      <img src="/assets/images/camp/top.jpg" alt="" class="bg-image">
      <div class="container-fluid h-100 py-5">
        <div class="row align-items-center h-100">
          <div class="col-lg-8 col-xl-6 mx-auto text-center">
            <h1 class="mb-3 display-2 text-white font-weight-bold text-serif">HelloBible Camp in a Box</h1>
            <h2 class="mb-3 display-5 text-white text-serif">Orders ship July 1st</h2>
            <h2 class="mb-3 display-5 text-white text-serif">Limited Quantity</h2>
            <p><a pageScroll href="#pricing" class="btn btn-lg btn-primary">Order Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="bg-gray-100 text-dark-700 py-6">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">Join us on an amazing Bible adventure this Summer!</h2>
        <p class="lead text-muted">Conveniently Delivered. All Materials Included. Easy to follow Camp Schedule.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-people service-icon fa fa-map fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Camp Kit</h6>
          <p class="font-weight-light text-sm mb-0">Camp schedule. Guides. Instructions for parents.</p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-truck service-icon fa fa-tree fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">6 Engaging Camp Sessions</h6>
          <p class="font-weight-light text-sm mb-0">Each session includes story time, creative craft time, and fun activities for 2 campers.</p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-pen service-icon fa fa-search fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Discover Bible Stories</h6>
          <p class="font-weight-light text-sm mb-0">Discover Bible stories and learn more about God each day.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container marketing">

  <!-- START THE FEATURETTES -->


  <div class="row featurette">

    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading text-uppercase">How it works</h2>
      <h3 class="text-muted">$89.95 + <span class="fa fa-flip-horizontal fa-truck"></span> Free Shipping</h3>
      <p class="lead">Join us on an amazing Bible adventure this summer! Bella the Butterfly will take Kids ages 3-5 on an amazing Bible adventure. Kids will disover different Bible stories, they will meet many animals and learn more about God.</p>
      <p class="lead">HelloBible Camp in a Box contains <b>6 SESSIONS</b> for <b>2 CAMPERS</b>. Each session includes story time, creative craft time, and fun activities. It will keep your campers enganged 3-4 hours a day.</p>
      <p class="lead">The box also includes a camp schedule, guides, instructions for parents, and an amazing Bible storybook.</p>
      <p class="lead display-5 font-weight-bold ">Orders will ship July 1st. Submit your order now, availability is limited.</p>
      <p><a pageScroll href="https://hellobible.cratejoy.com/buy/SQ7247880/" class="btn btn-lg btn-primary">Add to Cart</a>
    </div>
    <div class="col-md-5  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/camp/mosaic.jpg" alt="Engaged Kid">
    </div>

  </div>

    <!-- /END THE FEATURETTES -->

  </div>


  <section class="pt-2 bg-gray-100 mt-3">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 mx-auto text-center mb-3">
          <h2 class="text-uppercase">What's Inside</h2>
          <p class="lead text-muted">HelloBible's Camp in a Box comes with 6 engaging sessions. Each session includes story time, creative craft time, and fun activities for 2 campers.
            </p>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div id="carouselExampleCaptions" class="carousel slide touch mx-auto col-md-6 col-sm-6 col-xs-6 col-xl-6"
        data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="1" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="3500">
            <img src="/assets/images/camp/camp-session1-dove.jpg" class="d-block w-100"
              alt="Camp Session 1">
          </div>
          <div class="carousel-item" data-interval="3500">
            <img src="/assets/images/camp/camp-session2-camel.jpg" class="d-block w-100" alt="Camp Session 2">
          </div>
          <div class="carousel-item" data-interval="3500">
            <img src="/assets/images/camp/camp-session3-lion.jpg" class="d-block w-100" alt="Camp Session 3">
          </div>
          <div class="carousel-item" data-interval="3500">
            <img src="/assets/images/camp/camp-session4-bigfish.jpg" class="d-block w-100" alt="Camp Session 4">
          </div>
          <div class="carousel-item" data-interval="3500">
            <img src="/assets/images/camp/camp-session5-donkey.jpg" class="d-block w-100" alt="Camp Session 5">
          </div>
          <div class="carousel-item" data-interval="3500">
            <img src="/assets/images/camp/bubbles.jpg" class="d-block w-100" alt="Kid making giant bubbles">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </section>

