<app-nav></app-nav>

<section class="home-full-slider-wrapper">
  <!-- Hero Slider-->
  <div class="owl-carousel owl-theme home-full-slider">
    <div class="item home-full-item">
      <img src="/assets/images/camp/top.png" alt="" class="bg-image">
      <div class="container-fluid h-100 py-5">
        <div class="row align-items-center h-100">
          <div class="col-lg-8 col-xl-6 mx-auto text-center">
            <h1 class="mb-3 display-2 text-white font-weight-bold text-serif">HelloBible Camp in a Box</h1>
            <p><a pageScroll href="#pricing" class="btn btn-lg btn-primary">Order your Summer Camp Box Now!</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="bg-gray-100 text-dark-700 py-6">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">Join us on an amazing Bible adventure this Summer!</h2>
        <p class="lead text-muted">Conveniently Delivered. All Materials Included. Easy to follow Camp Schedule.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-people service-icon fa fa-map fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Camp Kit</h6>
          <p class="font-weight-light text-sm mb-0">Camp schedule. Guides. Instructions for parents.</p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-truck service-icon fa fa-tree fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">6 Engaging Camp Sessions</h6>
          <p class="font-weight-light text-sm mb-0">Each session includes story time, creative craft time, and fun activities.</p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-pen service-icon fa fa-search fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Discover Bible Stories</h6>
          <p class="font-weight-light text-sm mb-0">Discover Bible stories and learn more about God each day.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">

    <div class="col-md-7  order-md-2">
      <h2 class="featurette-heading text-uppercase">How does it work?</h2>
      <p class="lead">Lorem Ipsu</p>
      <p><a pageScroll href="#pricing" class="btn btn-lg btn-primary">Order Now!</a>

    </div>
    <div class="col-md-5  order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/images/about/connie.jpg" alt="Photo of Connie">
    </div>

  </div>

    <!-- /END THE FEATURETTES -->

  </div>


  <section class="pt-2 bg-gray-100 mt-3">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 mx-auto text-center mb-3">
          <h2 class="text-uppercase">What's Inside</h2>
          <p class="lead text-muted">HelloBible is a monthly opportunity for children to spend time with their parents or
            grandparents &#8212; creating, engaging, and growing in their walk with Jesus.</p>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div id="carouselExampleCaptions" class="carousel slide touch mx-auto col-md-6 col-sm-6 col-xs-6 col-xl-6"
        data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="3500">
            <img src="/assets/images/stories/carousel/jesus-heals.jpg" class="d-block w-100"
              alt="Jesus Heals The Paralytic">
          </div>
          <div class="carousel-item" data-interval="3500">
            <img src="/assets/images/stories/carousel/noah-junior.jpg" class="d-block w-100" alt="Noah">
          </div>
          <div class="carousel-item" data-interval="3500">
            <img src="/assets/images/stories/carousel/joseph.jpg" class="d-block w-100" alt="Jesus is Risenn">
          </div>
          <div class="carousel-item" data-interval="3500">
            <img src="/assets/images/stories/carousel/junior-joseph.jpg" class="d-block w-100" alt="Jesus is Risenn">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </section>

