<div id="reviews">

    <h1>What Others Say</h1>

    <div class="col-md-8 col-md-offset-2 hidden-xs">
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <a target="_blank" href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/">
                    <img src="/assets/images/testimonials/kindercraze.png" alt="Kinder-Craze">
                </a>
                <div class="caption">
                    <h3>The Story of Noah</h3>
                    <p>Not only are the crafts unique, but they also come with clear, attractive directions for assembly (which
                        <b>makes my teacher heart go pitter-patter</b>).</p>
                    <p>
                        <a target="_blank" href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/" class="btn btn-primary"
                            role="button">Read more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <a target="_blank" href="https://faithfullittlehands.com/hellobible-box-review/">
                    <img src="/assets/images/testimonials/faithful.png" alt="Faithful Little Hands">
                </a>
                <div class="caption">
                    <h3>The Story of Esther</h3>
                    <p><b>As you go through this box, your kids will learn more than just a Bible story.</b> They will learn to memorize scripture, to pray, to understand how God works and moves in our lives, and so much more.
                    </p>
                    <p>
                        <a target="_blank" href="https://faithfullittlehands.com/hellobible-box-review/" class="btn btn-primary"
                            role="button">Read More</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <a target="_blank" href="http://justreedblog.com/bringbibletolife/">
                    <img width="210" src="/assets/images/testimonials/just-reed.png"
                        alt="Just Reed Blog">
                </a>
                <div class="caption">
                    <h3>The Story of Abraham</h3>
                    <p>If you’re looking for a way to bring the Bible to life for your children or students,
                        <b>I highly suggest looking into this subscription service.</b>
                    </p>
                    <p>
                        <a target="_blank" href="http://justreedblog.com/bringbibletolife/" class="btn btn-primary" role="button">Read More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 visible-xs-block">
        <slick settings="slideConfig">
            <div class="reviewSlide">
                <a href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/">
                    <img src="/assets/images/testimonials/kindercraze.png" alt="Kinder-Craze">
                </a>
                <h3>The Story of Noah</h3>
                <p>Not only are the crafts unique, but they also come with clear, attractive directions for assembly (which
                    <b>makes my teacher heart go pitter-patter</b>).</p>
                <p>
                    <a href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/" class="btn btn-primary" role="button">Read more</a>
                </p>
            </div>
            <div class="reviewSlide">
                <a href="https://faithfullittlehands.com/hellobible-box-review/">
                    <img src="/assets/images/testimonials/faithful.png" alt="Faithful Little Hands">
                </a>
                <h3>The Story of Esther</h3>
                <p><b>As you go through this box, your kids will learn more than just a Bible story.</b> They will learn to memorize scripture, to pray, to understand how God works and moves in our lives, and so much more.
                </p>
                <p>
                    <a href="https://faithfullittlehands.com/hellobible-box-review/" class="btn btn-primary" role="button">Read More</a>
                </p>
            </div>
            <div class="reviewSlide">
                <a href="http://justreedblog.com/bringbibletolife/">
                    <img width="210" src="/assets/images/testimonials/just-reed.png"
                        alt="Just Reed Blog">
                </a>
                <h3>The Story of Abraham</h3>
                <p>If you’re looking for a way to bring the Bible to life for your children or students,
                    <b>I highly suggest looking into this subscription service.</b>
                </p>
                <p>
                    <a href="http://justreedblog.com/bringbibletolife/" class="btn btn-primary" role="button">Read More</a>
                </p>
            </div>
        </slick>
    </div>
</div>

<div id="press">
    <h2>As Seen On:</h2>

    <div class="container text-center">
        <img width="200" src="/assets/images/testimonials/mompreneurmedia.png" />
        <img width="200" src="/assets/images/testimonials/sfbusinesstimes.png" />
    </div>
</div>