#terms {
  width: 80%;
}

#terms h1, #terms h2 {
  text-align: left;
}

#terms h2 {
  color: $BBDarkGrey;
}

#terms p {
  color: $BBDarkGrey;
  text-align: justify;
}

#terms a {
  color: $BBBlue;
}

#terms a:hover, #terms a:focus {
  color: $BBDarkBlue;
  cursor: pointer;
}