<section class="position-relative py-6"><img src="/assets/images/stories/top.jpg"
    alt="Photo of Kid holding HelloBible Box" class="bg-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="bg-white p-5">
          <h2 class="mb-3">Postcards Coloring Booklet</h2>
          <h3 class="text-muted">Download our Gospel postcard booklet, color the postcards, and send them to someone
            you love.</h3>
          <p>
            <a href="/assets/postcards.pdf" target="_blank" class="btn btn-primary">Download Booklet</a>&nbsp;
            <a pageScroll routerLink="/home" href="#pricing" class="btn btn-secondary">Join HelloBible</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-100 text-dark-700 py-3">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">Bible Stories, Craft Projects, and Activities That Kids LOVE!</h2>
        <p class="lead text-muted">HelloBible is a monthly opportunity for children to spend time with their parents or
          grandparents — creating, engaging, and growing in their walk with Jesus.</p>
        <p class="lead text-muted">Conveniently Delivered. All Materials Included. Easy-to-teach Guides.</p>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <p> <a pageScroll routerLink="/home" href="#pricing" class="btn btn-lg btn-primary">Join HelloBible</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="album text-muted">


  <div class="container mb-3">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">Example Boxes</h2>
      </div>
      <div class="row mx-auto">
        <div class="mx-auto mb-2">
          <h3 class="featurette-heading text-center">Each Month, the Bible story is a surprise.</h3>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/joseph-junior.jpg" class="img-fluid" alt="Joseph">
          <div class="caption">
            <h4>Joseph (Junior)</h4>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/david-junior.jpg" class="img-fluid" alt="David">
          <div class="caption">
            <h4>David (Junior)</h4>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/moses-junior.jpg" class="img-fluid" alt="Moses">
          <div class="caption">
            <h4>Moses (Junior)</h4>
          </div>
        </div>

      </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/jesus-heals.jpg" class="img-fluid" alt="Jesus Heals The Paralytic">
          <div class="caption">
            <h4>Jesus Heals The Paralytic (Explorer)</h4>
          </div>
        </div>

      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/jesus-is-risen.jpg" class="img-fluid" alt="Jesus is Risen">
          <div class="caption">
            <h4>Jesus is Risen (Explorer)</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">
          <img src="/assets/images/stories/jesus-calms-storm.jpg" class="img-fluid" alt="Jesus Calms the Storm">
          <div class="caption">
            <h4>Jesus Calms the Storm (Explorer)</h4>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</section>