
$BBBlue : #00a8d6;
$BBDarkBlue : #1492B9;
$BBPink : #FF0099;
$BBDarkPink : #E3158A;
$BBGreen : #06B135;
$BBYellow : #FEC15D;
$BBLightGrey : #DEDEDE;
$BBDarkGrey : #424242;
$BBOrange: #FD8F3F;
$BBDarkOrange: #FD7422;