<div id="testimonials">
	<div class="container-fluid">
		<h1 class="text-uppercase text-center">Meet our Community</h1>

		<div class="row margin-t-30">
			<div class="col-md-5 col-md-offset-1">
				<div class="media">
					<img class="media-object img-circle pull-left" src="/assets/images/testimonials/tenny.jpg" alt="Tenny, homeschooling mom of three"/>
					<div class="media-body testimonial-group">
						It’s cute! Very appealing materials and a fun mix of activities. Instructions are cute and easy to follow. My 7 1/2
								year old really liked the storybook.
						<p class="media-heading"><b>Tenny, homeschool mom of three</b></p>
					</div>
				</div>
			</div>

			<div class="col-md-5">
				<div class="media">
					<img class="media-object img-circle pull-left" src="/assets/images/testimonials/bethany.jpg" alt="Bethany, creative mom of two"/>
					<div class="media-body testimonial-group">
						I loved it! I like that you mention Jesus in the sharing page. Tying Him into every story is a great way to point
								children to the savior.
						<p class="media-heading"><b>Bethany, creative mom of two</b></p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5 col-md-offset-3">
				<div class="media">
					<img class="media-object img-circle pull-left" src="/assets/images/testimonials/sarah.jpg" alt="Sarah, working mom of two"/>
					<div class="media-body testimonial-group">
						I like that everything is there, I don’t have to go to the store. We are busy all week, it is great to have the
								pre-made box that puts it all together.
						<p class="media-heading"><b>Sarah, working mom of two</p>

					</div>
				</div>
			</div>

		</div>

	</div>

</div>
</div>