<div id="testimonials">
    <h1>Testimonials</h1>
</div>

<div id="why">
    <h2>Why HelloBible?</h2>
    <div class="row hidden-xs">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3 col-sm-3" ng-repeat="item in why">
                <div class="thumbnail">
                    <span ng-switch on="item.link.charAt(0)">
                        <a ng-switch-when="#" ui-sref="home({'#' : '{{item.link.substring(1)}}'})">
                            <img ng-src="{{item.image}}.jpg" />
                        </a>
                        <a ng-switch-default href="{{item.link}}">
                            <img ng-src="{{item.image}}.jpg" />
                        </a>
                    </span>

                    <div class="caption">
                        <p ng-bind-html="item.text"></p>
                    </div>
                    <blockquote class="blockquote">
                        <p class="mb-0">{{item.quote}}</p>
                        <footer class="blockquote-footer">{{item.name}}
                            <cite ng-bind-html="item.title"></cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <div class="visible-xs-block">
        <slick settings="slideConfig">
            <div class="media" ng-repeat="item in why">
                <h3 ng-bind-html="item.text"></h3>

                <img class="media-object" ng-src="{{item.image}}.jpg">
                <div class="media-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">{{item.quote}}</p>
                        <footer class="blockquote-footer">{{item.name}}
                            <cite ng-bind-html="item.title"></cite>
                        </footer>
                    </blockquote>
                </div>
                <div class="why-button">
                    <a ui-sref="{{item.link}}" du-smooth-scroll>
                        <button type="button" class="btn btn-lg btn-primary" aria-haspopup="true" aria-expanded="false">{{item.button}}</button>
                    </a>
                </div>
            </div>
        </slick>
    </div>
</div>

<div id="reviews">
    <h2>Reviews</h2>

    <div class="col-md-8 col-md-offset-2 hidden-xs">
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <a target="_blank" href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/">
                    <img src="/assets/images/testimonials/kindercraze.png" alt="Kinder-Craze">
                </a>
                <div class="caption">
                    <h3>The Story of Noah</h3>
                    <p>Not only are the crafts unique, but they also come with clear, attractive directions for assembly (which
                        <b>makes my teacher heart go pitter-patter</b>).</p>
                    <p>
                        <a target="_blank" href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/" class="btn btn-primary"
                            role="button">Read more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <a target="_blank" href="https://2littlerosebuds.com/hello-bible-april-2017-childrens-subscription-box-review/">
                    <img src="/assets/images/testimonials/rosebuds.png" alt="2 Little Rosebuds">
                </a>
                <div class="caption">
                    <h3>The Story of Creation</h3>
                    <p>Everything was very well designed and the projects were easy to complete.
                        <b>A great box for teaching children about the Bible in a fun, hands-on way.
                    </p>
                    <p>
                        <a target="_blank" href="https://2littlerosebuds.com/hello-bible-april-2017-childrens-subscription-box-review/" class="btn btn-primary"
                            role="button">Read More</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <a target="_blank" href="http://justreedblog.com/bringbibletolife/">
                    <img width="210" src="/assets/images/testimonials/just-reed.png"
                        alt="Just Reed Blog">
                </a>
                <div class="caption">
                    <h3>The Story of Abraham</h3>
                    <p>If you’re looking for a way to bring the Bible to life for your children or students,
                        <b>I highly suggest looking into this subscription service.</b>
                    </p>
                    <p>
                        <a target="_blank" href="http://justreedblog.com/bringbibletolife/" class="btn btn-primary" role="button">Read More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 visible-xs-block">
        <slick settings="slideConfig">
            <div class="reviewSlide">
                <a href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/">
                    <img src="/assets/images/testimonials/kindercraze.png" alt="Kinder-Craze">
                </a>
                <h3>The Story of Noah</h3>
                <p>Not only are the crafts unique, but they also come with clear, attractive directions for assembly (which
                    <b>makes my teacher heart go pitter-patter</b>).</p>
                <p>
                    <a href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/" class="btn btn-primary" role="button">Read more</a>
                </p>
            </div>
            <div class="reviewSlide">
                <a href="https://2littlerosebuds.com/hello-bible-april-2017-childrens-subscription-box-review/">
                    <img src="/assets/images/testimonials/rosebuds.png" alt="2 Little Rosebuds">
                </a>
                <h3>The Story of Creation</h3>
                <p>Everything was very well designed and the projects were easy to complete.
                    <b>A great box for teaching children about the Bible in a fun, hands-on way.
                </p>
                <p>
                    <a href="https://2littlerosebuds.com/hello-bible-april-2017-childrens-subscription-box-review/" class="btn btn-primary" role="button">Read More</a>
                </p>
            </div>
            <div class="reviewSlide">
                <a href="http://justreedblog.com/bringbibletolife/">
                    <img width="210" src="/assets/images/testimonials/just-reed.png"
                        alt="Just Reed Blog">
                </a>
                <h3>The Story of Abraham</h3>
                <p>If you’re looking for a way to bring the Bible to life for your children or students,
                    <b>I highly suggest looking into this subscription service.</b>
                </p>
                <p>
                    <a href="http://justreedblog.com/bringbibletolife/" class="btn btn-primary" role="button">Read More</a>
                </p>
            </div>
        </slick>
    </div>
</div>

<div id="press">
    <h2>As Seen On:</h2>

    <div class="container text-center">
        <img width="200" src="/assets/images/testimonials/mompreneurmedia.png" />
        <img width="200" src="/assets/images/testimonials/sfbusinesstimes.png" />
    </div>
</div>