<section class="position-relative dark-overlay py-3 py-lg-7"><img src="/assets/images/stories/fishers-of-men/top.jpg" alt=""
  class="bg-image">
<div class="container overlay-content hero hero-page">
  <ul class="breadcrumb justify-content-center no-border mb-0">
    <li class="breadcrumb-item text-white active">Gospel</li>
  </ul>
  <div class="hero-content pb-5 text-center text-white">
    <h1 class="hero-heading">Fishers of Men</h1>
    <p class="text-center">
      <a pageScroll routerLink="/home" href="#pricing" class="btn btn-primary">Order Now</a>
    </p>
  </div>
</div>
</section>

<div class="container marketing">

<hr class="featurette-divider">

<div class="row featurette">

  <div class="col-md-8  order-md-2">
    <h3 class="featurette-heading">Welcome card with <span class="text-muted">Monthly Bible Verse.</span></h3>
    <p class="lead">Each box comes with a memory verse card.
      It helps children keep God's Word in their heart.</p>
  </div>
  <div class="col-md-4  order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/fishers-of-men/verse.jpg" alt="Monthly Bible Memory Verse Card">
  </div>

</div>

<hr class="featurette-divider">

<div class="row featurette">

  <div class="col-md-8  order-md-2">
    <h3 class="featurette-heading">Read the <span class="text-muted">Story Book.</span></h3>
    <p class="lead">The fun begins with a faith-filled Bible Story.
      This box comes with the book "The Great Catch of Fish" from Arch books.
      Read and enjoy the story as a family.
    </p>
  </div>
  <div class="col-md-4  order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/fishers-of-men/book.jpg" alt="Photo of Book">
  </div>

</div>


<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-8 order-md-2">
    <h3 class="featurette-heading">Decorate a <span class="text-muted">Fish Picture Frame.</span></h3>
    <p class="lead">
      The box includes all materials to create and decorate a beautiful picture frame.
      Remember that Jesus calls you to be a Fisher of Men!
    </p>
  </div>
  <div class="col-md-4 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/fishers-of-men/frame.jpg" alt="Photo of Picture Frame">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-8 order-md-2">
    <h3 class="featurette-heading">Family Activity. <span class="text-muted">Learn the Names of the Disciples.</span></h3>
    <p class="lead">
      Color the bookmark,
      locate the Bible Story Luke 5:1-11 in your Bible, and place the bookmark at that location.
      Learn the names of the 12 disciples.
    </p>
  </div>
  <div class="col-md-4 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/fishers-of-men/activity.jpg" alt="Photo of Family Activity">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-8 order-md-2">
    <h3 class="featurette-heading">Make <span class="text-muted">Sand Art.</span></h3>
    <p class="lead">
      Enjoy your sand art fish magnet and remember that Jesus invites you to follow Him.
    </p>
  </div>
  <div class="col-md-4 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/fishers-of-men/sand-art.jpg" alt="Photo of Ornaments">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-8 order-md-2">
    <h3 class="featurette-heading">Easy-to-teach <span class="text-muted">Parent Guides.</span></h3>
    <p class="lead">
      Parent guides have discussion questions to help children understand the Bible story.
      They include prayer, fun facts, art projects, and additional ideas to help kids learn
      and engage with the lesson.
    </p>
  </div>
  <div class="col-md-4 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="/assets/images/stories/fishers-of-men/guide.jpg" alt="Photo of Guidepost">
  </div>
</div>

<hr class="featurette-divider">

</div><!-- /.container -->

<section class="position-relative dark-overlay py-3 py-lg-7"><img src="/assets/images/stories/fishers-of-men/box.jpg" alt="Photo of HelloBible Box"
  class="bg-image">
<div class="container overlay-content hero hero-page">

  <div class="hero-content pb-5 text-center text-white">
    <h2>Secure the next HelloBible box!</h2>
  </div>
  <p class="text-center">
    <a pageScroll routerLink="/home" href="#pricing" class="btn btn-primary">Order Now</a>
  </p>
</div>
</section>