<div class="topheader topheader-main">
  <div class="container">
    <div class="row margin-t-90">
      <div class="col-md-12 margin-t-120">
        <h1 class="text-center text-uppercase">A fun way for kids to explore the bible.</h1>
        <h4 class="text-center">Get 1 box each month including a great bible story, creative craft projects and ideas to
          study &amp; pray.</h4>
        <div class="col-md-8 col-md-offset-2">
          <div class="row margin-t-60">
            <div class="subscribe-inputs">
              <form
                action="//biblebox4kids.us11.list-manage.com/subscribe/post?u=241bb925118b3a87d221f6dca&amp;id=afc638b89c"
                method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div style="position: absolute; left: -5000px"><input type="text"
                                                                      name="b_241bb925118b3a87d221f6dca_afc638b89c"
                                                                      tabindex="-1" value=""></div>
                <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email me when it's ready" required>
                <input type="submit" value="Notify me!" name="subscribe" id="mc-embedded-subscribe">
              </form>
            </div> <!-- subscribe-inputs -->
          </div> <!-- row -->
        </div> <!-- col-md-8-->
      </div> <!-- col-md-12 -->
    </div> <!-- row -->
  </div> <!-- container -->
  <a ng-click="scrollTo('about-timeline')" href="">
    <div class="arrow-down animated three bounce"></div>
  </a>
</div> <!-- container -->
</div> <!-- topheader -->

<!-- Social icons -->
<div class="slogan">
  <div class="text-center">
    <a href="mailto:info@biblebox4kids.com"><i class="social-icons-top fa fa-envelope-square fa-4x"></i></a>
    <a href="http://www.facebook.com/biblebox4kids/"><i class="social-icons-top fa fa-facebook-square fa-4x"></i></a>
    <a href="http://www.pinterest.com/biblebox4kids"><i class="social-icons-top fa fa-pinterest-square fa-4x"></i></a>
  </div>
</div>
<!-- Social icons end -->

<!-- About -->
<div id="about-timeline">
  <div class="container">
    <h1 class="text-center text-uppercase">How It Works</h1>

    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li>
            <div class="timeline-left">
              <div class="timeline-image">
                <img src="images/how-image1-s.jpg" alt="">
              </div>
              <br class="clearfix">
              <h3>Get 1 box per month</h3>
              <p>Get 1 box per month for children ages 3-7 conveniently delivered to your home. All ideas, materials and
                instructions are included.</p>
            </div>
          </li>

          <li>
            <div class="timeline-right">
              <div class="timeline-image">
                <img src="images/how-image2-s.jpg" alt="">
              </div>
              <h3>Read, create, study and pray</h3>
              <p>Read a bible story and create two different projects centered around the monthly story. Enjoy to study
                the bible and to pray with your child.</p>
            </div>
          </li>

          <li>
            <div class="timeline-left">
              <div class="timeline-image">
                <img src="images/how-image3-s.jpg" alt="">
              </div>
              <h3>Care for children in need</h3>
              <p>Share God’s love by caring for children in need. For every box purchased, we make a donation to
                children in need.</p>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Informations -->
<div id="informations">
  <div class="container">
    <div class="row col-md-12">
      <h4 class="text-uppercase text-center">Spend valuable time with your child exploring the bible.</h4>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="logo-circle"><i class="fa fa-book"></i></div>
        <h4 class="text-uppercase">Story Time</h4>
        <p>An age-appropriate bible storybook to help your child connect to God's Word. Read together, talk to your
          child and bring the bible story to life.</p>
      </div>

      <div class="col-md-4">
        <div class="logo-circle"><i class="fa fa-rocket"></i></div>
        <h4 class="text-uppercase">Activity Time</h4>
        <p>Two projects that allow you to spend high quality time with your child. Story-themed crafts or games to dig
          deeper into God's Word.</p>
      </div>

      <div class="col-md-4">
        <div class="logo-circle"><i class="fa fa-comments"></i></div>
        <h4 class="text-uppercase">Devotional Time</h4>
        <p>Ideas, questions and prayer suggestions helping your child to develop a life-long habit of studying the
          bible. Also includes a memory verse to collect.</p>
      </div>
    </div>
  </div>
</div>
<!-- Informations End -->

<!-- Slogan -->
<div class="verse">
  <div class="container text-center">
    <blockquote class="blockquote">
      <p>Jesus said, "Let the little children come to me and do not hinder them, for to such belongs the kingdom of
        heaven."</p>
      <cite>Matthew 19:14 ESV</cite>
    </blockquote>
  </div>
</div>
<!-- Slogan End -->

<!-- Subscribe -->
<div id="subscribe">
  <div class="col-md-12 margin-t-90">
    <h1 class="text-center text-uppercase">Notify Me When It's Ready...</h1>
    <div class="col-md-8 col-md-offset-2">
      <div class="margin-t-60">
        <div class="subscribe-inputs">
          <form
            action="//biblebox4kids.us11.list-manage.com/subscribe/post?u=241bb925118b3a87d221f6dca&amp;id=afc638b89c"
            method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <div style="position: absolute; left: -5000px"><input type="text"
                                                                  name="b_241bb925118b3a87d221f6dca_afc638b89c"
                                                                  tabindex="-1" value=""></div>
            <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="My email" required>
            <input type="submit" value="Notify me!" name="subscribe" id="mc-embedded-subscribe">
          </form>
        </div> <!-- subscribe-inputs -->
      </div> <!-- margin-t-60 -->
    </div> <!-- col-md-8 -->
  </div> <!-- col-md-12 -->
</div> <!-- subscribe -->
<!-- Subscribe End -->
