<div class="topheader-thanks">
  <div class="container">
    <div class="row margin-t-90">
      <div class="col-md-12  margin-t-120">
        <h1 class="text-center text-uppercase">Thank you for your interest!</h1>
        <h3 class="text-center">It means a lot to us and we’ll keep you posted about our launch.</h3>
        <h4 class="text-center">In the meantime please don’t keep these great news to yourself - share it with your
          family and friends!</h4>
      </div>
    </div>
    <div>

      <div class="text-center">
        <a href="http://www.facebook.com/biblebox4kids/"><i class="social-icons-thanks fa fa-facebook-square fa-4x"></i></a>
        <a href="http://www.pinterest.com/biblebox4kids"><i
          class="social-icons-thanks fa fa-pinterest-square fa-4x"></i></a>
      </div>
    </div>
