<!-- Hero Section-->
<section class="home-full-slider-wrapper">
  <!-- Hero Slider-->
  <div class="owl-carousel owl-theme home-full-slider">
    <div class="item home-full-item"><img src="assets/images/home/top.jpg" alt="" class="bg-image">
      <div class="container-fluid h-100 py-5">
        <div class="row align-items-center h-100">
          <div class="col-lg-8 col-xl-6 mx-auto text-center">
            <h1 class="mb-3 display-2 text-white font-weight-bold text-serif">Grow in Faith</h1>
            <p> <a pageScroll href="#pricing" class="btn btn-lg btn-primary">Join HelloBible</a>&nbsp;
            <!--<a pageScroll href="#pricing" class="btn btn-lg btn-secondary">Gift It</a>--></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-gray-100 text-dark-700 py-6">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-5">
        <h2 class="text-uppercase">Bible Stories, Art Projects, and Activities That Kids LOVE!</h2>
        <p class="lead text-muted">Conveniently Delivered. All Materials Included. Easy-to-teach Guides.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-people service-icon fa fa-users fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Choose Number of Children</h6>
          <p class="font-weight-light text-sm mb-0">Materials can be added for up to 4 children. Great for ages 5+.</p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-truck service-icon fa fa-flip-horizontal fa-truck fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Receive One Box Every Month</h6>
          <p class="font-weight-light text-sm mb-0">Choose your subscription length. No commitment. Cancel anytime.</p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-pen service-icon fa fa-paint-brush fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Enjoy Bible & Art Projects</h6>
          <p class="font-weight-light text-sm mb-0">Thoughtful parent guides. Keepsake
            crafts. Fun activities.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<section class="pt-6">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">What is HelloBible?</h2>
      </div>
    </div>
    <div class="row">
      <div class="text-dark-700">
        <div class="container">
          <div class="row col-lg-6 text-center mx-auto">
            <div class="service-text">
              <p>HelloBible is the solution for families to teach the Bible and enjoy faith-filled experiences with
                your children at home.
                Every month all materials, teaching guides and instructions are delivered to your door.</p>
            </div>

            <div class="service-text mx-auto">
              <p> <a routerLink="/stories" class="btn btn-primary">View Our Boxes</a> &nbsp;
                <a routerLink="/faq" class="btn btn-light">FAQs</a>

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->

<section class="pt-6">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">Past Boxes</h2>
        <p class="lead text-muted">HelloBible is a monthly opportunity for children to spend time with their parents or grandparents &#8212; creating, engaging, and growing in their walk with Jesus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a routerLink="/stories">
  
          <div class="thumbnail">
            <img src="/assets/images/stories/fishers-of-men.jpg" class="img-fluid" alt="Fishers of Men">
            <div class="caption">
              <h4>Fishers of Men</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a routerLink="/stories">
  
          <div class="thumbnail">
            <img src="/assets/images/stories/jesus-heals.jpg" class="img-fluid" alt="Jesus Heals The Paralytic">
            <div class="caption">
              <h4>Jesus Heals The Paralytic</h4>
            </div>
          </div>
        </a>
  
      </div>
      <div class="col-sm-6 col-md-4">
        <a routerLink="/stories">
  
          <div class="thumbnail">
            <img src="/assets/images/stories/jesus-is-risen.jpg" class="img-fluid" alt="Jesus is Risen">
            <div class="caption">
              <h4>Jesus is Risen</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a routerLink="/stories">
  
          <div class="thumbnail">
            <img src="/assets/images/stories/jesus-blesses-the-children.jpg" class="img-fluid"
              alt="Jesus Blesses the Children">
            <div class="caption">
              <h4>Jesus Blesses the Children</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a routerLink="/stories">
  
          <div class="thumbnail">
            <img src="/assets/images/stories/jesus-calms-storm.jpg" class="img-fluid" alt="Jesus Calms the Storm">
            <div class="caption">
              <h4>Jesus Calms the Storm</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a routerLink="/stories">
  
          <div class="thumbnail">
            <img src="/assets/images/stories/the-good-samaritan.jpg" class="img-fluid" alt="The Good Samaritan">
            <div class="caption">
              <h4>The Good Samaritan</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</section>

<section class="pt-6 pb-5">
  <div class="container">
    <div id="pricing" class="row">
      <div class="col-xl-8 mx-auto text-center mb-5">
        <h2 class="text-uppercase">Start Your Journey</h2>
        <p class="lead text-muted">Give as a gift or explore with your kids.</p>
        <p class="lead text-muted">Boxes ship at the end of each month. Cancel anytime.</p>
        <!--<p class="lead" style="color: #FF0099;" [innerHtml]="message"></p>-->
      </div>
    </div>
    <div class="row">
      <!-- product-->
      <div class="mx-auto mb-10px px-5px">
        <div class="card mb-4 shadow-sm">

          <div class="card-header">
            <h2 class="my-0 font-weight-normal text-center">Monthly</h2>
          </div>
          <div class="card-body">
            <h4 class="card-title pricing-card-title text-center">$24.90 <small class="text-muted">/ mo</small></h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li><span class="fa fa-heart"></span> Supports children in Kenya.</li>
              <li><span class="fa fa-users"></span> Up to 4 Children.</li>
              <li><span class="fa fa-tag"></span> ${{monthlyTotal}} + $5 shipping/box</li>
            </ul>
            <div class="text-center choose-children">
              <select name="monthlyPlan" id="monthlyPlan" [(ngModel)]="selectedOptions['monthlyPlan']" (change)="computePrice($event.target.value, 'monthlyPlan')">
                <option value="1">1 Child</option>
                <option value="2">2 Children + $4.90/month</option>
                <option value="3">3 Children + $9.80/month</option>
                <option value="4">4 Children + $14.70/month</option>
              </select>
            </div>
            <div class="text-center mt-3">
              <a (click)="addToCart('monthlyPlan')">
                <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart mr-2"></i>Add to Cart</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-auto mb-10px px-5px">
        <div class="card mb-4 shadow-sm">

          <div class="card-header">
            <h2 class="my-0 font-weight-normal text-center">6 Months</h2>
          </div>
          <div class="card-body">
            <h4 class="card-title pricing-card-title text-center">$23.90 <small class="text-muted">/ mo</small></h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li><span class="fa fa-heart"></span> Supports children in Kenya.</li>
              <li><span class="fa fa-users"></span> Up to 4 Children.</li>
              <li><span class="fa fa-tag"></span> ${{sixMonthsTotal}} + $5 shipping/box</li>
            </ul>
            <div class="text-center choose-children">
              <select name="sixMonthsPlan" id="sixMonthsPlan" [(ngModel)]="selectedOptions['sixMonthsPlan']"
              (change)="computePrice($event.target.value, 'sixMonthsPlan')">
                <option value="1">1 Child</option>
                <option value="2">2 Children + $4.90/month</option>
                <option value="3">3 Children + $9.80/month</option>
                <option value="4">4 Children + $14.70/month</option>
              </select>
            </div>
            <div class="text-center mt-3">
              <a (click)="addToCart('sixMonthsPlan')">
                <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart mr-2"></i>Add to Cart</button>
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="mx-auto mb-10px px-5px">
        <div class="card mb-4 shadow-sm">

          <div class="card-header">
            <h2 class="my-0 font-weight-normal text-center">12 Months</h2>
          </div>
          <div class="card-body">
            <div class="ribbon ribbon-bbblue">Best value</div>
            <h4 class="card-title pricing-card-title text-center">$21.90 <small class="text-muted">/ mo</small></h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li><span class="fa fa-heart"></span> Supports children in Kenya.</li>
              <li><span class="fa fa-users"></span> Up to 4 Children.</li>
              <li><span class="fa fa-tag"></span> ${{twelveMonthsTotal}} + $5 shipping/box</li>
            </ul>
            <div class="text-center choose-children">
              <select name="twelveMonthsPlan" id="twelveMonthsPlan" [(ngModel)]="selectedOptions['twelveMonthsPlan']"
              (change)="computePrice($event.target.value, 'twelveMonthsPlan')">
                <option value="1">1 Child</option>
                <option value="2">2 Children + $4.90/month</option>
                <option value="3">3 Children + $9.80/month</option>
                <option value="4">4 Children + $14.70/month</option>
              </select>
            </div>
            <div class="text-center mt-3">
              <a (click)="addToCart('twelveMonthsPlan')">
                <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart mr-2"></i>Add to Cart</button>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section class="bg-gray-100">

<div class="container">

  <div class="row">
    <div class="col-xl-8 mx-auto text-center">
      <h2 class="text-uppercase">From Our Community</h2>
    </div>
  </div>

  <div class="mb-10px px-5px mt-3 row">
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child1.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child2.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child3.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child4.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child5.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child6.jpg"></div>
      
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child7.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child8.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child9.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child10.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child11.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child12.jpg"></div>
<!--
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child13.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child14.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child15.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child16.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child17.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child18.jpg"></div>-->
  </div>

  <div class="container mt-3">
      <div class="row">
        <div class="col-xl-8 mx-auto text-center">
          <p> <a pageScroll href="#pricing" class="btn btn-lg btn-primary">Join HelloBible</a>
          </p>
        </div>
      </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 media review">
        <div class="media-body">
          <h5 class="mt-2 mb-1">Fun and learning</h5>
          <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i>
          </div>
          <blockquote><p class="text-muted">My daughter loves getting her box. She reads her story to the family and shares what she
            has
            learned with her Sunday school class. The projects are spot on for her age! I even enjoy the box coming as
            it
            gives us time as a family to come together.</p><cite title="Clarissa P.">Clarissa P.</cite></blockquote>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 media review">
        <div class="media-body">
          <h5 class="mt-2 mb-1">HelloBible is awesome!</h5>
          <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i>
          </div>
          <blockquote><p class="text-muted">My granddaughter loved her first box and we had quality focused time learning about
            Jesus
            and reading scripture with fun activities.</p><cite title="Tammy M.">Tammy M.</cite></blockquote>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 media review">
        <div class="media-body">
          <h5 class="mt-2 mb-1">So creative!</h5>
          <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i>
          </div>
          <blockquote><p class="text-muted">We love HelloBible! We adapt it a bit for our 4 year old, but she still really loves it.
            The whole box is planned so well, from the sticker chart, to the craft, the book, the lesson, and more! It
            ties together so well and is such a high quality product. I am so thankful to have a fun way to engage my
            kids
            as they learn more about God.</p><cite title="Lily S.">Lily S.</cite></blockquote>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 media review">
        <div class="media-body">
          <h5 class="mt-2 mb-1">Great activities! Kids love it!</h5>
          <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i>
          </div>
          <blockquote><p class="text-muted">We received our first box last month. The box came with everything that was needed and
            all
            materials were high quality. I particularly loved that there were two sets of activities — a craft and
            another
            one where they can put Gospel concepts into practice. My boys loved the story book that came with it and it
            was a great Sunday activity to do. I look forward to getting my second box!</p><cite title="Denhi C.">Denhi C.</cite></blockquote>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 media review">
        <div class="media-body">
          <h5 class="mt-2 mb-1">I cannot say enough good</h5>
          <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i>
          </div>
          <blockquote><p class="text-muted">This is absolutely a quality box. The material is Christ-centered, but written to be
            easy
            to understand. My children love the box and are (im)patiently waiting for their next box. The crafts are
            super
            easy for kids and always turn out beautiful. I can’t stop recommending this box to ALL my friends.</p>
            <cite title="Kimberly W.">Kimberly W.</cite></blockquote>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 media review">
        <div class="media-body">
          <h5 class="mt-2 mb-1">Easy way to teach children the Bible!</h5>
          <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
              class="fa fa-xs fa-star text-warning"></i>
          </div>
          <blockquote><p class="text-muted">We have been subscribed to HelloBible for several months now. The boxes are engaging and
            fun for both my 4 and 11 year old. The activities are fun and relevant to the month's Bible story. Both kids
            look forward to receiving and doing the activities in the box. The lesson plans are easy to follow and come
            with question prompts to further discussion. We love HelloBible!</p>
            <cite title="Jacob H.">Jacob H.</cite></blockquote>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <p class="lead text-muted">What Bloggers Write About HelloBible</p>
      </div>
    </div>
    <div class="mb-10px px-5px row">
      <div class="col-lg-3 col-6">
        <div class="mb-30px"><a target="_blank"
            href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/"><img
              src="/assets/images/home/kindercraze.png" alt="Kindercraze Logo" class="img-fluid"></a>
          <div class="mt-3"><small class="text-uppercase text-muted">Educational Blogger</small>
            <h5 class="my-2">The Story of Noah</h5>
            <p class="my-2 text-muted">Not only are the crafts unique, but they also come with clear, attractive
              directions for assembly (which <strong>makes my teacher heart go pitter-patter</strong>).</p><a
              target="_blank" href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/"
              class="btn btn-link text-gray-700 pl-0"><i class="fa fa-external-link"></i> Read
              more<i class="fa fa-long-arrow-alt-right ml-2"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="mb-30px"><img src="/assets/images/home/faithful.png" alt="Faithfull Little Hands Logo"
            class="img-fluid">
          <div class="mt-3"><small class="text-uppercase text-muted">Blogger &amp; Mom of 4</small>
            <h5 class="my-2">The Story of Esther</h5>
            <p class="my-2 text-muted"><strong>As you go through this box, your kids will learn more than just a Bible
                story.</strong> They will learn to memorize scripture, to pray, to understand how God works and moves
              in
              our lives, and so much more.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="mb-30px"><img src="/assets/images/home/just-reed.png" alt="Just Reed Blog Logo" class="img-fluid">
          <div class="mt-3"><small class="text-uppercase text-muted">Mom &amp; Elementary Teacher</small>
            <h5 class="my-2">The Story of Abraham</h5>
            <p class="my-2 text-muted">If you’re looking for a way to bring the Bible to life for your children or
              students, <strong>I highly suggest looking into this subscription service.</strong></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="mb-30px"><a
            href="http://www.sarajcreations.com/2017/12/hellobible-box-subscription-review.html"><img
              src="/assets/images/home/sarajcreations.png" alt="Sara J. Creations Logo" class="img-fluid"></a>
          <div class="mt-3"><small class="text-uppercase text-muted">Mom, Blogger, Teacher</small>
            <h5 class="my-2">The Christmas Story</h5>
            <p class="my-2 text-muted">This would make an AWESOME gift for the kids in your life. <strong>It is really
                a
                gift for the whole family!</strong></p><a
              href="http://www.sarajcreations.com/2017/12/hellobible-box-subscription-review.html"
              class="btn btn-link text-gray-700 pl-0"><i class="fa fa-external-link"></i> Read more<i
                class="fa fa-long-arrow-alt-right ml-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>-->

  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <h3>Awards</h3>
      </div>
    </div>
    <div class="mb-10px px-5px row">
      <div class="mx-auto text-center col-xl-10 col-md-6">
  
        <div class="mb-5"><img src="/assets/images/home/MCA_DH_400x400_Google.png" alt="Mom's Choice Awards"
            class="img-fluid">
  
        </div>
      </div>
      <div class="mx-auto text-center col-xl-10 col-md-6">
  
        <div class="mb-5"><img src="/assets/images/home/cratejoy.jpg" alt="Cratejoy Best Boxes 2018 Banner"
            class="img-fluid">
  
        </div>
      </div>
  
    </div>
  </div>

  <section class="pt-6 mb-3">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 mx-auto text-center mb-3">
          <h2 class="text-uppercase">HelloBible Junior  </h2>
          <p class="lead text-muted">Launching soon. HelloBible for kids ages 3-4. <a href="https://junior.hellobible.org/home/">Sign up now</a> for a chance to WIN 6 months of HelloBible Junior when we launch.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <a target="_blank" href="https://junior.hellobible.org/home/"><img src="/assets/images/junior/junior-box.png" alt="HelloBible Junior Box"
          class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-6">
          <a target="_blank" href="https://junior.hellobible.org/home/"><img src="/assets/images/junior/junior-content.jpg" alt="Content of HelloBible Junior Box"
          class="img-fluid"></a>
        </div>
      </div>
    </div>
  </section>
</div>
</section>
  <!-- Services block-->
