<!-- Hero Section-->
<section class="home-full-slider-wrapper">
  <!-- Hero Slider-->
  <div class="owl-carousel owl-theme home-full-slider">
    <div class="item home-full-item">
      <img src="/assets/images/home/top4.jpg" alt="" class="bg-image">
      <div class="container-fluid h-100 py-5">
        <div class="row align-items-center h-100">
          <div class="col-lg-8 col-xl-6 mx-auto text-center">
            <h1 class="mb-3 display-2 text-white font-weight-bold text-serif">Grow in Faith</h1>
            <p> <a pageScroll href="#pricing" class="btn btn-lg btn-primary">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="item home-full-item"><img src="/assets/images/home/top.jpg" alt="" class="bg-image">
      <div class="container-fluid h-100 py-5">
        <div class="row align-items-center h-100">
          <div class="col-lg-8 col-xl-6 mx-auto text-center">
            <h1 class="mb-3 display-2 text-white font-weight-bold text-serif">Explorer</h1>
            <p> <a routerLink="/explorer" class="btn btn-lg btn-primary">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="item home-full-item"><img src="/assets/images/home/top3.jpg" alt="" class="bg-image">
      <div class="container-fluid h-100 py-5">
        <div class="row align-items-center h-100">
          <div class="col-lg-8 col-xl-6 mx-auto text-center">
            <h1 class="mb-3 display-2 text-white font-weight-bold text-serif">Junior</h1>
            <p> <a routerLink="/junior" class="btn btn-lg btn-primary">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-100 text-dark-700 py-6">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">Bible Stories, Craft Projects, and Activities That Kids LOVE!</h2>
        <p class="lead text-muted">Conveniently Delivered. All Materials Included. Easy-to-teach Guides.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-people service-icon fa fa-users fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Choose a Subscription</h6>
          <p class="font-weight-light text-sm mb-0">HelloBible Junior (ages 3-5) or HelloBible Explorer (ages 5-10).</p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-truck service-icon fa fa-flip-horizontal fa-truck fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Receive One Box Every Month</h6>
          <p class="font-weight-light text-sm mb-0">Choose your subscription length. No commitment. Cancel anytime.</p>
        </div>
      </div>
      <div class="col-lg-4 service-column">
        <span class="svg-icon icon-pen service-icon fa fa-paint-brush fa-3x">
        </span>
        <div class="service-text">
          <h6 class="text-uppercase">Enjoy Bible & Art Projects</h6>
          <p class="font-weight-light text-sm mb-0">Thoughtful parent guides. Keepsake
            crafts. Fun activities.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="pt-2 bg-gray-100">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">Past Boxes</h2>
        <p class="lead text-muted">HelloBible is a monthly opportunity for children to spend time with their parents or
          grandparents &#8212; creating, engaging, and growing in their walk with Jesus.</p>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div id="carouselExampleCaptions" class="carousel slide touch mx-auto col-md-6 col-sm-6 col-xs-6 col-xl-6"
      data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="3500">
          <img src="/assets/images/stories/carousel/jesus-heals.jpg" class="d-block w-100"
            alt="Jesus Heals The Paralytic">
        </div>
        <div class="carousel-item" data-interval="3500">
          <img src="/assets/images/stories/carousel/noah-junior.jpg" class="d-block w-100" alt="Noah">
        </div>
        <div class="carousel-item" data-interval="3500">
          <img src="/assets/images/stories/carousel/joseph.jpg" class="d-block w-100" alt="Jesus is Risen">
        </div>
        <div class="carousel-item" data-interval="3500">
          <img src="/assets/images/stories/carousel/junior-joseph.jpg" class="d-block w-100" alt="Jesus is Risenn">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center mb-3">
        <a routerLink="/stories" routerLinkActive="active" class="nav-link"><span class="btn btn-lg btn-primary">Peek
            Inside</span></a>
      </div>
    </div>
  </div>
</section>

<section class="pt-6 pb-3">
  <div class="container">
    <div id="pricing" class="row">
      <div class="col-xl-8 mx-auto text-center mb-3">
        <h2 class="text-uppercase">Start Your Journey</h2>
        <p class="lead text-muted">Explore with your kids or give as a gift.
          Boxes ship at the end of each month. Cancel anytime.</p>
        <!--<p class="lead">If you order now, your first box will be our Christmas Box. <span class="fa fa-tree"></span></p>-->
        <!--<p class="lead" style="color: #FF0099;" [innerHtml]="message"></p>-->
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="accordion col-md-10 mx-auto col-xl-10" id="accordionExample">
        <div class="card">
          <div class="card-header card-junior" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="row no-gutters">
                  <div class="col-md-4 col-xs-4 mx-auto">
                    <img class="card-junior-logo" src="/assets/images/home/box-junior.png" />
                  </div>
                  <div class="col-md-8 col-xs-8">
                    <div class="card-body buy-card">
                      <h2 class="card-title">Junior</h2>
                      <h3 class="card-text mb-3">Ages 3-5</h3>
                      <a routerLink="/junior"><span class="btn btn-lg btn-primary">Learn More</span></a>
                    </div>
                  </div>
                </div>
              </button>
            </h2>
          </div>
         
        </div>
        <div class="card">
          <div class="card-header card-kids" id="headingOne">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <div class="row no-gutters">
                <div class="col-md-4 col-xs-4">
                  <img class="card-kids-logo" src="/assets/images/home/box-kids.png" />
                </div>
                <div class="col-md-8 col-xs-8">
                  <div class="card-body buy-card">
                    <h2 class="card-title">Explorer</h2>
                    <h3 class="card-text mb-3">Ages 5-10</h3>
                    <a routerLink="/explorer"><span class="btn btn-lg btn-primary">Learn More</span></a>
                  </div>
                </div>
              </div>
            </button>
          </div>


          
        </div>
      </div>

    </div>
  </div>

</section>

<section class="pt-6 bg-gray-100">

  <div class="container">

    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <h2 class="text-uppercase">From Our Community</h2>
      </div>
    </div>

    <div class="mb-10px px-5px mt-3 row">
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child1.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child2.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child3.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child4.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child5.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child6.jpg"></div>

      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child7.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child8.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child9.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child10.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child11.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child12.jpg"></div>
      <!--
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child13.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child14.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child15.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child16.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child17.jpg"></div>
      <div class="col-sm-4 col-md-2"><img class="img-thumbnail" src="/assets/images/gallery/child18.jpg"></div>-->
    </div>

    <div class="container mt-3">

      <div class="row">
        <div class="col-sm-6 col-md-4 media review">
          <div class="media-body">
            <h5 class="mt-4 mb-1">Fun and learning</h5>
            <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i>
            </div>
            <blockquote>
              <p class="text-muted">My daughter loves getting her box. She reads her story to the family and shares what
                she
                has
                learned with her Sunday school class. The projects are spot on for her age! I even enjoy the box coming
                as
                it
                gives us time as a family to come together.</p><cite title="Clarissa P.">Clarissa P.</cite>
            </blockquote>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 media review">
          <div class="media-body">
            <h5 class="mt-2 mb-1">HelloBible is awesome!</h5>
            <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i>
            </div>
            <blockquote>
              <p class="text-muted">My granddaughter loved her first box and we had quality focused time learning about
                Jesus
                and reading scripture with fun activities.</p><cite title="Tammy M.">Tammy M.</cite>
            </blockquote>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 media review">
          <div class="media-body">
            <h5 class="mt-2 mb-1">So creative!</h5>
            <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i>
            </div>
            <blockquote>
              <p class="text-muted">We love HelloBible! We adapt it a bit for our 4 year old, but she still really loves
                it.
                The whole box is planned so well, from the sticker chart, to the craft, the book, the lesson, and more!
                It
                ties together so well and is such a high quality product. I am so thankful to have a fun way to engage
                my
                kids
                as they learn more about God.</p><cite title="Lily S.">Lily S.</cite>
            </blockquote>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 media review">
          <div class="media-body">
            <h5 class="mt-2 mb-1">Great activities! Kids love it!</h5>
            <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i>
            </div>
            <blockquote>
              <p class="text-muted">We received our first box last month. The box came with everything that was needed
                and
                all
                materials were high quality. I particularly loved that there were two sets of activities — a craft and
                another
                one where they can put Gospel concepts into practice. My boys loved the story book that came with it and
                it
                was a great Sunday activity to do. I look forward to getting my second box!</p><cite
                title="Denhi C.">Denhi C.</cite>
            </blockquote>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 media review">
          <div class="media-body">
            <h5 class="mt-2 mb-1">I cannot say enough good</h5>
            <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i>
            </div>
            <blockquote>
              <p class="text-muted">This is absolutely a quality box. The material is Christ-centered, but written to be
                easy
                to understand. My children love the box and are (im)patiently waiting for their next box. The crafts are
                super
                easy for kids and always turn out beautiful. I can’t stop recommending this box to ALL my friends.</p>
              <cite title="Kimberly W.">Kimberly W.</cite>
            </blockquote>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 media review">
          <div class="media-body">
            <h5 class="mt-2 mb-1">Easy way to teach children the Bible!</h5>
            <div class="mb-2"><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i><i
                class="fa fa-xs fa-star text-warning"></i><i class="fa fa-xs fa-star text-warning"></i>
            </div>
            <blockquote>
              <p class="text-muted">We have been subscribed to HelloBible for several months now. The boxes are engaging
                and
                fun for both my 4 and 11 year old. The activities are fun and relevant to the month's Bible story. Both
                kids
                look forward to receiving and doing the activities in the box. The lesson plans are easy to follow and
                come
                with question prompts to further discussion. We love HelloBible!</p>
              <cite title="Jacob H.">Jacob H.</cite>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <p class="lead text-muted">What Bloggers Write About HelloBible</p>
      </div>
    </div>
    <div class="mb-10px px-5px row">
      <div class="col-lg-3 col-6">
        <div class="mb-30px"><a target="_blank"
            href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/"><img
              src="/assets/images/home/kindercraze.png" alt="Kindercraze Logo" class="img-fluid"></a>
          <div class="mt-3"><small class="text-uppercase text-muted">Educational Blogger</small>
            <h5 class="my-2">The Story of Noah</h5>
            <p class="my-2 text-muted">Not only are the crafts unique, but they also come with clear, attractive
              directions for assembly (which <strong>makes my teacher heart go pitter-patter</strong>).</p><a
              target="_blank" href="http://kindercraze.com/meet-hellobible-christian-subscription-box-kids/"
              class="btn btn-link text-gray-700 pl-0"><i class="fa fa-external-link"></i> Read
              more<i class="fa fa-long-arrow-alt-right ml-2"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="mb-30px"><img src="/assets/images/home/faithful.png" alt="Faithfull Little Hands Logo"
            class="img-fluid">
          <div class="mt-3"><small class="text-uppercase text-muted">Blogger &amp; Mom of 4</small>
            <h5 class="my-2">The Story of Esther</h5>
            <p class="my-2 text-muted"><strong>As you go through this box, your kids will learn more than just a Bible
                story.</strong> They will learn to memorize scripture, to pray, to understand how God works and moves
              in
              our lives, and so much more.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="mb-30px"><img src="/assets/images/home/just-reed.png" alt="Just Reed Blog Logo" class="img-fluid">
          <div class="mt-3"><small class="text-uppercase text-muted">Mom &amp; Elementary Teacher</small>
            <h5 class="my-2">The Story of Abraham</h5>
            <p class="my-2 text-muted">If you’re looking for a way to bring the Bible to life for your children or
              students, <strong>I highly suggest looking into this subscription service.</strong></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="mb-30px"><a
            href="http://www.sarajcreations.com/2017/12/hellobible-box-subscription-review.html"><img
              src="/assets/images/home/sarajcreations.png" alt="Sara J. Creations Logo" class="img-fluid"></a>
          <div class="mt-3"><small class="text-uppercase text-muted">Mom, Blogger, Teacher</small>
            <h5 class="my-2">The Christmas Story</h5>
            <p class="my-2 text-muted">This would make an AWESOME gift for the kids in your life. <strong>It is really
                a
                gift for the whole family!</strong></p><a
              href="http://www.sarajcreations.com/2017/12/hellobible-box-subscription-review.html"
              class="btn btn-link text-gray-700 pl-0"><i class="fa fa-external-link"></i> Read more<i
                class="fa fa-long-arrow-alt-right ml-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>-->

    <div class="container">
      <div class="row">
        <div class="col-xl-8 mx-auto text-center">
          <h3>Awards</h3>
        </div>
      </div>
      <div class="mb-10px px-5px row">
        <div class="mx-auto text-center col-xl-10 col-md-6">

          <div class="mb-5"><img src="/assets/images/home/MCA_DH_400x400_Google.png" alt="Mom's Choice Awards"
              class="img-fluid">

          </div>
        </div>
        <div class="mx-auto text-center col-xl-10 col-md-6">

          <div class="mb-5"><img src="/assets/images/home/cratejoy.jpg" alt="Cratejoy Best Boxes 2018 Banner"
              class="img-fluid">

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<!-- Services block-->